.navbar-toggler {
    border: none;
    background-color: transparent;
  }
  
  .content-container {
    padding-top: 70px; /* Adjust the padding value as needed */
  }
  .navbar-nav .nav-link {
    color: black;
    font-weight: 500;
    font-size: 18px;
  }
  .navbar {
  background-color: white;
}
.navbar-nav .nav-link {
  color: black;
}
.logo{
  max-width: 150px;
  height: auto;
}

.user-dd-icon{
  width: 20px !important;
}