<footer class="bg-dark text-light footer">
    <div class="container">
      <div class="row py-4">
        <div class="col-md-3">
          <img src="{{ site_logo }}" alt="Company Logo" class="img-fluid logo">
        </div>
        <div class="col-md-3 col-6">
          <h5 class="fw-bold text-dark">Company</h5>
          <ul class="list-unstyled text">
            <li><a routerLink="/career" class="text-decoration-none text-black">Career</a></li>
            <li><a routerLink="/privacy" class="text-decoration-none text-black">Privacy & Policy</a></li>
            <li><a routerLink="/faq" class="text-decoration-none text-black">FAQ</a></li>
            <li><a routerLink="/terms" class="text-decoration-none text-black">Terms and Conditions</a></li>
          </ul>
        </div>
        <div class="col-md-3 col-6 text-dark">
          <h6>Others</h6>
          <ul class="list-unstyled">
            <li><a href="#">Resource 1</a></li>
            <li><a href="#">Resource 2</a></li>
            <li><a href="#">Resource 3</a></li>
          </ul>
        </div>
        <div class="col-md-3 text-dark">
          <h6 class="fw-bold">Contact</h6>
          <p><strong>Phone:</strong> {{ footerSettings.contact_number }}</p>
          <p><strong>Email:</strong> {{ footerSettings.email }}</p>
          <p><strong>Address:</strong> {{ footerSettings.address }}</p>
        </div>
      </div>
    </div>
  </footer>