<div class="container  content-container ">
	<div class="">
		<h4>ভর্তি প্রস্তুতি কোর্সসমূহ</h4>
	</div>
	<div class="row mt-5">
		<div>
			<h5>লাইভ কোর্সসমূহ</h5>
		</div>
		<div class="col-12 col-md-3">
			<div class="card m-2 border-0 shadow-lg custom-card">
				<img src="assets/images/3rd.JPG" class="card-img-top" alt="..." />
				<div class="d-grid gap-2">
					<button class="btn btn-info btn-custom" type="button"><a routerLink="/online">BCS Preli Live Course</a></button>
				</div>
				<div class="card-body">
					<p class="card-text spilit">It is a long established fact that a reader will be distracted by...</p>
				</div>
				<div class="d-grid gap-2">
					<button class="btn btn-secondary btn-btom btn-custom d-flex justify-content-between" type="button">
						<div class="l-text-btn-btom">৳1500</div>
						<div class="r-text-btn-btom"><s>৳2000</s></div>
					</button>
				</div>
			</div>
		</div>
		<div class="col-12 col-md-3">
			<div class="card m-2 border-0 shadow-lg custom-card">
				<img src="assets/images/3rd.JPG" class="card-img-top" alt="..." />
				<div class="d-grid gap-2">
					<button class="btn btn-info btn-custom" type="button"><a routerLink="/online">BCS Preli Live Course</a></button>
				</div>
				<div class="card-body">
					<p class="card-text spilit">It is a long established fact that a reader will be distracted by...</p>
				</div>
				<div class="d-grid gap-2">
					<button class="btn btn-secondary btn-btom btn-custom d-flex justify-content-between" type="button">
						<div class="l-text-btn-btom">৳1500</div>
						<div class="r-text-btn-btom"><s>৳2000</s></div>
					</button>
				</div>
			</div>
		</div>
		<div class="col-12 col-md-3">
			<div class="card m-2 border-0 shadow-lg custom-card">
				<img src="assets/images/3rd.JPG" class="card-img-top" alt="..." />
				<div class="d-grid gap-2">
					<button class="btn btn-info btn-custom" type="button"><a routerLink="/online">BCS Preli Live Course</a></button>
				</div>
				<div class="card-body">
					<p class="card-text spilit">It is a long established fact that a reader will be distracted by...</p>
				</div>
				<div class="d-grid gap-2">
					<button class="btn btn-secondary btn-btom btn-custom d-flex justify-content-between" type="button">
						<div class="l-text-btn-btom">৳1500</div>
						<div class="r-text-btn-btom"><s>৳2000</s></div>
					</button>
				</div>
			</div>
		</div>
		<div class="col-12 col-md-3">
			<div class="card m-2 border-0 shadow-lg custom-card">
				<img src="assets/images/3rd.JPG" class="card-img-top" alt="..." />
				<div class="d-grid gap-2">
					<button class="btn btn-info btn-custom" type="button"><a routerLink="/online">BCS Preli Live Course</a></button>
				</div>
				<div class="card-body">
					<p class="card-text spilit">It is a long established fact that a reader will be distracted by...</p>
				</div>
				<div class="d-grid gap-2">
					<button class="btn btn-secondary btn-btom btn-custom d-flex justify-content-between" type="button">
						<div class="l-text-btn-btom">৳1500</div>
						<div class="r-text-btn-btom"><s>৳2000</s></div>
					</button>
				</div>
			</div>
		</div>
	</div>
</div>
  <div class="container">
    <div class="row mt-5">
      <div>
        <h5>রেকর্ডেড কোর্সসমূহ</h5>
      </div>
      
		<div class="col-12 col-md-3">
			<div class="card m-2 border-0 shadow-lg custom-card">
				<img src="assets/images/4th.jpg" class="card-img-top" alt="..." />
				<div class="d-grid gap-2">
					<button class="btn btn-info btn-custom" type="button"><a routerLink="/online">BCS Preli Live Course</a></button>
				</div>
				<div class="card-body">
					<p class="card-text spilit">It is a long established fact that a reader will be distracted by...</p>
				</div>
				<div class="d-grid gap-2">
					<button class="btn btn-secondary btn-btom btn-custom d-flex justify-content-between" type="button">
						<div class="l-text-btn-btom">৳1500</div>
						<div class="r-text-btn-btom"><s>৳2000</s></div>
					</button>
				</div>
			</div>
		</div>
		<div class="col-12 col-md-3">
			<div class="card m-2 border-0 shadow-lg custom-card">
				<img src="assets/images/4th.jpg" class="card-img-top" alt="..." />
				<div class="d-grid gap-2">
					<button class="btn btn-info btn-custom" type="button"><a routerLink="/online">BCS Preli Live Course</a></button>
				</div>
				<div class="card-body">
					<p class="card-text spilit">It is a long established fact that a reader will be distracted by...</p>
				</div>
				<div class="d-grid gap-2">
					<button class="btn btn-secondary btn-btom btn-custom d-flex justify-content-between" type="button">
						<div class="l-text-btn-btom">৳1500</div>
						<div class="r-text-btn-btom"><s>৳2000</s></div>
					</button>
				</div>
			</div>
		</div>
		<div class="col-12 col-md-3">
			<div class="card m-2 border-0 shadow-lg custom-card">
				<img src="assets/images/4th.jpg" class="card-img-top" alt="..." />
				<div class="d-grid gap-2">
					<button class="btn btn-info btn-custom" type="button"><a routerLink="/online">BCS Preli Live Course</a></button>
				</div>
				<div class="card-body">
					<p class="card-text spilit">It is a long established fact that a reader will be distracted by...</p>
				</div>
				<div class="d-grid gap-2">
					<button class="btn btn-secondary btn-btom btn-custom d-flex justify-content-between" type="button">
						<div class="l-text-btn-btom">৳1500</div>
						<div class="r-text-btn-btom"><s>৳2000</s></div>
					</button>
				</div>
			</div>
		</div>

    </div>
  </div>

  <div class="container">
    <h2 class="fw-bold text-center mt-5">শিক্ষার্থীরা যা বলছে</h2>
    <div>
      <div id="carouselExample3" class="carousel slide p-5" data-bs-ride="carousel">
        <div class="carousel-inner ">
          <div class="carousel-item active">
            <div class="container">
              <div class="row">
                <div class="col-md-4 ">
                  <div class="card rounded-3">
                    <div class="card-body">
                      <p class="card-text">কোর্সটির প্রতিটি সেকশনে ছিল স্পষ্ট নির্দেশনা । বিশেষ করে, “Reading” এবং
                        “Writing” সেকশন এতটাই informative ছিল যা আমার জন্য Mock Test এবং Real Exam কে সহজ করে তুলেছিল।
                        আমার সবচেয়ে ভালো লেগেছে “Writing Part”।.</p>
                    </div>
                    <div class="card-footer  bg-white border-0">
                      <h5>Ehssan Mahmud</h5>
                    </div>
                  </div>
                </div>
                <div class="col-md-4 ">
                  <div class="card rounded-3">
                    <div class="card-body">
                      <p class="card-text">কোর্সটির প্রতিটি সেকশনে ছিল স্পষ্ট নির্দেশনা । বিশেষ করে, “Reading” এবং
                        “Writing” সেকশন এতটাই informative ছিল যা আমার জন্য Mock Test এবং Real Exam কে সহজ করে তুলেছিল।
                        আমার সবচেয়ে ভালো লেগেছে “Writing Part”।.</p>
                    </div>
                    <div class="card-footer  bg-white border-0">
                      <h5>Ehssan Mahmud</h5>
                    </div>
                  </div>
                </div>

                <div class="col-md-4 ">
                  <div class="card rounded-3">
                    <div class="card-body">
                      <p class="card-text">কোর্সটির প্রতিটি সেকশনে ছিল স্পষ্ট নির্দেশনা । বিশেষ করে, “Reading” এবং
                        “Writing” সেকশন এতটাই informative ছিল যা আমার জন্য Mock Test এবং Real Exam কে সহজ করে তুলেছিল।
                        আমার সবচেয়ে ভালো লেগেছে “Writing Part”।.</p>
                    </div>
                    <div class="card-footer  bg-white border-0">
                      <h5>Ehssan Mahmud</h5>
                    </div>
                  </div>
                </div>


              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="container">
              <div class="row">
                <div class="col-md-4">
                  <div class="card rounded-3">
                    <div class="card-body">
                      <p class="card-text">কোর্সটির প্রতিটি সেকশনে ছিল স্পষ্ট নির্দেশনা । বিশেষ করে, “Reading” এবং
                        “Writing” সেকশন এতটাই informative ছিল যা আমার জন্য Mock Test এবং Real Exam কে সহজ করে তুলেছিল।
                        আমার সবচেয়ে ভালো লেগেছে “Writing Part”।.</p>
                    </div>
                    <div class="card-footer  bg-white border-0">
                      <h5>Ehssan Mahmud</h5>
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="card rounded-3">
                    <div class="card-body">
                      <p class="card-text">কোর্সটির প্রতিটি সেকশনে ছিল স্পষ্ট নির্দেশনা । বিশেষ করে, “Reading” এবং
                        “Writing” সেকশন এতটাই informative ছিল যা আমার জন্য Mock Test এবং Real Exam কে সহজ করে তুলেছিল।
                        আমার সবচেয়ে ভালো লেগেছে “Writing Part”।.</p>
                    </div>
                    <div class="card-footer  bg-white border-0">
                      <h5>Ehssan Mahmud</h5>
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="card rounded-3">
                    <div class="card-body">
                      <p class="card-text">কোর্সটির প্রতিটি সেকশনে ছিল স্পষ্ট নির্দেশনা । বিশেষ করে, “Reading” এবং
                        “Writing” সেকশন এতটাই informative ছিল যা আমার জন্য Mock Test এবং Real Exam কে সহজ করে তুলেছিল।
                        আমার সবচেয়ে ভালো লেগেছে “Writing Part”।.</p>
                    </div>
                    <div class="card-footer  bg-white border-0">
                      <h5>Ehssan Mahmud</h5>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <a class="carousel-control-prev justify-content-start" href="#carouselExample3" role="button"
          data-bs-slide="prev">
          <span class="carousel-control-prev-icon bg-dark fs-6  rounded-circle" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </a>
        <a class="carousel-control-next justify-content-end " href="#carouselExample3" role="button"
          data-bs-slide="next">
          <span class="carousel-control-next-icon bg-dark fs-6 rounded-circle" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </a>
      </div>
    </div>
  </div>