<div class="container content-container">
    <div class="row">
        <div class="col-lg-3 mt-3 mb-5">
            <div class="list-group">
                <a href="#" class="list-group-item list-group-item-action" aria-current="true">
                    <div class="d-flex w-100 mt-4 justify-content-between">
                        <img *ngIf="!currentUser.image" src="assets/images/2793695.png" alt="" class="profile-img" />
                        <img *ngIf="currentUser.image" src="{{ assetURL+currentUser.image }}" alt="" class="profile-img" />
                    </div>
                    <p class="mb-1 text-center mt-2 text-primary"><strong><i class="fa-solid fa-user"></i> {{ currentUser.full_name }}</strong></p>
                    <p class="mb-51 text-center text-success"><i class="fa-solid fa-phone"></i> {{ currentUser.contact_no }}</p>
                    <p class="mb-51 text-center text-secondary"> <i class="fa-solid fa-user-secret"></i> {{ currentUser.user_type }}</p>
                    <br/>
                    <br/>
                </a>
                <a [routerLink]="['/mentor-dashboard']" class="list-group-item list-group-item-action">
                    <div class="d-flex w-100 justify-content-between">
                        <p class="mb-1"><i class="fa-solid fa-receipt"></i> My Course List</p>
                    </div>
                </a>
                <a [routerLink]="['/mentor-student-list']" class="list-group-item list-group-item-action">
                    <div class="d-flex w-100 justify-content-between">
                        <p class="mb-1"><i class="fa-solid fa-list"></i> Student List</p>
                    </div>
                </a>
                <a [routerLink]="['/mentor-ongoing-class-list']" class="list-group-item list-group-item-action">
                    <div class="d-flex w-100 justify-content-between">
                        <p class="mb-1"><i class="fa-solid fa-list"></i> Ongoing Classes</p>
                    </div>
                </a>
                <a [routerLink]="['/mentor-assignment-list']" class="list-group-item list-group-item-action active">
                    <div class="d-flex w-100 justify-content-between">
                        <p class="mb-1"><i class="fa-solid fa-edit"></i> Assignment List</p>
                    </div>
                </a>
                <a [routerLink]="['/mentor-completed-class-list']"  class="list-group-item list-group-item-action">
                    <div class="d-flex w-100 justify-content-between">
                        <p class="mb-1"><i class="fa-solid fa-file-invoice-dollar"></i> Attended Class List</p>
                    </div>
                </a>
                <a [routerLink]="['/mentor-update-link']" class="list-group-item list-group-item-action">
                    <div class="d-flex w-100 justify-content-between">
                        <p class="mb-1"><i class="fa-solid fa-gear"></i> Update Link</p>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-9">
            <div class="scrollable-content mt-3">
                <div class="alert alert-success" role="alert">
                    <i class="fa-solid fa-edit"></i> Assignment List 
                    <button class="btn btn-success btn-sm float-end" (click)="openModal(template)"><i class="fa-solid fa-circle-plus"></i> Create New Assignment</button>
                </div>
                
                <table class="table table-bordered" *ngIf="is_assignment_loaded">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Assignment</th>
                            <th scope="col">Deadline</th>
                            <th scope="col">Status</th>
                            <th scope="col">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of assignmentList; let i = index;">
                            <th scope="row">{{ i+1 }}</th>
                            <td> {{ item.title }} </td>
                            <td>{{ item.deadline | date :'MMM d, y, h:mm a' }}</td>
                            <td *ngIf="item.status == 'Unpublished'" class="text-secondary">
                                {{ item.status }}
                                <button class=" btn btn-primary btn-sm" (click)="openConfirmPublishModal(item, confirmPublishTemplate)"><i class="fa-solid fa-clipboard-check"></i> Publish</button> 
                            </td>
                            <td *ngIf="item.status == 'Ongoing'" class="text-success">
                                {{ item.status }} <br/>
                                <span class="small" *ngIf="item.publish_date">{{ item.publish_date | date :'MMM d, y, h:mm a' }}</span>
                            </td>
                            <td *ngIf="item.status == 'OnHold'" class="text-danger">
                                {{ item.status }} <br/>
                                <span class="small" *ngIf="item.publish_date">{{ item.publish_date | date :'MMM d, y, h:mm a' }}</span>
                            </td>
                            <td *ngIf="item.status == 'Finished'" class="text-info">
                                {{ item.status }} <br/>
                                <span class="small" *ngIf="item.publish_date">{{ item.publish_date | date :'MMM d, y, h:mm a' }}</span>
                            </td>
                            <td>
                                <button [routerLink]="['/mentor-student-progress-list']" class="btn btn-success btn-sm small"><i class="fa-solid fa-eye"></i> See Details</button>
                            </td>
                        </tr>
                    </tbody>
                </table>

            </div>
        </div>
    </div>
</div>

<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left"><i class="fa-solid fa-calendar-plus"></i> Add New Assignment</h4>
    <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="hideModal()">
      <span aria-hidden="true" class="visually-hidden">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form class="p-4 mb-2" [formGroup]="entryForm">
        <h6 class="">Title</h6>
        <div class="input-group">
            <input type="text" class="form-control" formControlName="title"
                [ngClass]="{ 'is-invalid': submitted && f['title'].errors }" placeholder="Title" autocomplete="off">
        </div>
        <div class="input-group mb-3">
            <div *ngIf="submitted && f['title'].errors" class="error-text">
                <span *ngIf="f['title'].errors?.['required']" class="text-danger"> Title is required</span>
            </div>
        </div>

        <h6 class="">Description</h6>
        <div class="input-group">
            <textarea class="form-control" formControlName="description"
                [ngClass]="{ 'is-invalid': submitted && f['description'].errors }" placeholder="Description" cols="30" rows="5"></textarea>
        </div>
        <div class="input-group mb-3">
            <div *ngIf="submitted && f['description'].errors" class="error-text">
                <span *ngIf="f['description'].errors?.['required']" class="text-danger"> Description is required</span>
            </div>
        </div>

        <h6 class="">Select Course</h6>
        <div class="input-group">
            <ng-select [items]="courseList" (change)="getStudentList($event)"
                class="col-lg-12"
                bindLabel="title" 
                bindValue="id" 
                formControlName="course_id"
                 placeholder="Select Course"
                [ngClass]="{ 'is-invalid': submitted && f['course_id'].errors }">
            </ng-select>
        </div>
        <div class="input-group mb-3">
            <div *ngIf="submitted && f['course_id'].errors" class="error-text">
                <span *ngIf="f['course_id'].errors?.['required']" class="text-danger"> Course is required</span>
            </div>
        </div>

        <h6 class="">Select Student</h6>
        <div class="input-group">
            <ng-select [items]="studentList" 
                class="col-lg-12"
                bindLabel="student_name" 
                bindValue="student_id" 
                formControlName="student_id"
                 placeholder="Select Student"
                 [multiple]="true"
                [ngClass]="{ 'is-invalid': submitted && f['student_id'].errors }">
            </ng-select>
        </div>
        <div class="input-group mb-3">
            <div *ngIf="submitted && f['student_id'].errors" class="error-text">
                <span *ngIf="f['student_id'].errors?.['required']" class="text-danger"> Student is required</span>
            </div>
        </div>

        <h6 class="">Deadline Date</h6>
        <div class="input-group">
            <input type="datetime-local" class="form-control" formControlName="deadline"
                [ngClass]="{ 'is-invalid': submitted && f['deadline'].errors }" placeholder="Schedule Date" autocomplete="off">
        </div>
        <div class="input-group mb-3">
            <div *ngIf="submitted && f['deadline'].errors" class="error-text">
                <span *ngIf="f['deadline'].errors?.['required']" class="text-danger"> Deadline Date is required</span>
            </div>
        </div>

        <div class="row mb-4">
            <div class="col-sm-4">
                <h6 class="">Select Class</h6>
                <div class="input-group">
                    <ng-select [items]="classList" (change)="getSubjectList($event)"
                        class="col-lg-12"
                        bindLabel="name" 
                        bindValue="id" 
                        formControlName="class_id"
                        placeholder="Select Class"
                        [ngClass]="{ 'is-invalid': submitted && f['class_id'].errors }">
                    </ng-select>
                </div>
            </div>
            <div class="col-sm-4">
                <h6 class="">Select Subject</h6>
                <div class="input-group">
                    <ng-select [items]="subjectList" (change)="getChapterList($event)"
                        class="col-lg-12"
                        bindLabel="name" 
                        bindValue="id" 
                        formControlName="subject_id"
                        placeholder="Select Subject"
                        [ngClass]="{ 'is-invalid': submitted && f['subject_id'].errors }">
                    </ng-select>
                </div>
            </div>
            <div class="col-sm-4">
                <h6 class="">Select Chapter</h6>
                <div class="input-group">
                    <ng-select [items]="chapterList" (change)="changeGetResourceList($event)"
                        class="col-lg-12"
                        bindLabel="name" 
                        bindValue="id" 
                        formControlName="chapter_id"
                        placeholder="Select Chapter"
                        [ngClass]="{ 'is-invalid': submitted && f['chapter_id'].errors }">
                    </ng-select>
                </div>
            </div>
        </div>

        <div class="row mb-4">
            <div class="col-sm-4">
                <button class="btn btn-success btn-lg btn-block btn-add-lg" (click)="openResorceModal(scriptTemplate)"><i class="fa-solid fa-circle-plus"></i> Add Script ({{ scriptCount }})</button>
                <span class="text-danger"><i><small>Total Script {{ scriptList.length }} </small></i></span>
            </div>
            <div class="col-sm-4">
                <button class="btn btn-success btn-lg btn-block btn-add-lg" (click)="openResorceModal(videoTemplate)"><i class="fa-solid fa-circle-plus"></i> Add Video ({{ videoCount }})</button>
                <span class="text-danger"><i><small>Total Video {{ videoList.length }} </small></i></span>
            </div>
            <div class="col-sm-4">
                <button class="btn btn-success btn-lg btn-block btn-add-lg" (click)="openResorceModal(quizTemplate)"><i class="fa-solid fa-circle-plus"></i> Add Quiz ({{ quizCount }})</button>
                <span class="text-danger"><i><small>Total Quiz {{ quizList.length }} </small></i></span>
            </div>
        </div>

        <button type="submit" (click)="hideModal()" class="btn btn-secondary float-end mb-2">Close</button>
        <button type="submit" (click)="formSubmit()" class="btn btn-success float-end mx-2 mb-2">Submit</button>
    </form>
  </div>
</ng-template>

<ng-template #scriptTemplate>
  <div class="modal-header">
    <h5 class="modal-title pull-left"><i class="fa-solid fa-circle-plus"></i> Script List</h5>
    <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="modalRefList?.hide()">
      <span aria-hidden="true" class="visually-hidden">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <table class="table table-bordered" *ngIf="is_resource_loaded">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Title</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of scriptList; let i = index;">
                <th scope="row">{{ i+1 }}</th>
                <td>{{ item.title }}</td>
                <td><input type="checkbox" [checked]="item.is_checked" (change)="item.is_checked = !item.is_checked" (click)="checkCount()"/></td>
            </tr>
            <tr *ngIf="scriptList.length <= 0">
                <th colspan="3">No Data Found!</th>
            </tr>
        </tbody>
    </table>
    <table class="table table-bordered" *ngIf="!is_resource_loaded">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Title</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngIf="scriptList.length <= 0">
                <th colspan="3">No Data Found!</th>
            </tr>
        </tbody>
    </table>
  </div>
</ng-template>

<ng-template #videoTemplate>
  <div class="modal-header">
    <h5 class="modal-title pull-left"><i class="fa-solid fa-circle-plus"></i> Video List</h5>
    <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="modalRefList?.hide()">
      <span aria-hidden="true" class="visually-hidden">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <table class="table table-bordered" *ngIf="is_resource_loaded">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Title</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of videoList; let i = index;">
                <th scope="row">{{ i+1 }}</th>
                <td>{{ item.title }}</td>
                <td><input type="checkbox"  [checked]="item.is_checked" (change)="item.is_checked = !item.is_checked" (click)="checkCount()"/></td>
            </tr>

            <tr *ngIf="videoList.length <= 0">
                <th colspan="3">No Data Found!</th>
            </tr>
        </tbody>
    </table>
    <table class="table table-bordered" *ngIf="!is_resource_loaded">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Title</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngIf="scriptList.length <= 0">
                <th colspan="3">No Data Found!</th>
            </tr>
        </tbody>
    </table>
  </div>
</ng-template>

<ng-template #quizTemplate>
  <div class="modal-header">
    <h5 class="modal-title pull-left"><i class="fa-solid fa-circle-plus"></i> Quiz List</h5>
    <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="modalRefList?.hide()">
      <span aria-hidden="true" class="visually-hidden">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <table class="table table-bordered" *ngIf="is_resource_loaded">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Title</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of quizList; let i = index;">
                <th scope="row">{{ i+1 }}</th>
                <td>{{ item.title }}</td>
                <!--(click)="addRemoveItem(item, 'qiuz')"-->
                <td><input type="checkbox" [checked]="item.is_checked" (change)="item.is_checked = !item.is_checked" (click)="checkCount()"/></td>
            </tr>

            <tr *ngIf="quizList.length <= 0">
                <th colspan="3">No Data Found!</th>
            </tr>
        </tbody>
    </table>
    <table class="table table-bordered" *ngIf="!is_resource_loaded">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Title</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngIf="scriptList.length <= 0">
                <th colspan="3">No Data Found!</th>
            </tr>
        </tbody>
    </table>
  </div>
</ng-template>

<ng-template #confirmPublishTemplate>
  <div class="modal-body text-center">
    <p class="text-success">Do you want to publish the Assignment?</p>
    <button type="button" class="btn btn-outline-success mx-2" (click)="confirmPublish()" >Publish Now</button>
    <button type="button" class="btn btn-outline-danger" (click)="declinePublish()" >No</button>
  </div>
</ng-template>

<block-ui></block-ui>