<div class="container content-container">
    <div class="row">
        <div class="col-lg-3 mt-3 mb-5">
            <div class="list-group">
                <a href="#" class="list-group-item list-group-item-action" aria-current="true">
                    <div class="d-flex w-100 mt-4 justify-content-between">
                        <img src="assets/images/2793695.png" alt="" class="profile-img" />
                    </div>
                    <p class="mb-1 text-center mt-2 text-primary"><strong><i class="fa-solid fa-user"></i> {{ currentUser.full_name }}</strong></p>
                    <p class="mb-51 text-center text-success"><i class="fa-solid fa-phone"></i> {{ currentUser.contact_no }}</p>
                    <p class="mb-51 text-center text-secondary"> <i class="fa-solid fa-user-secret"></i> {{ currentUser.user_type }}</p>
                    <br/>
                    <br/>
                </a>
                <a [routerLink]="['/mentor-dashboard']" class="list-group-item list-group-item-action">
                    <div class="d-flex w-100 justify-content-between">
                        <p class="mb-1"><i class="fa-solid fa-receipt"></i> My Course List</p>
                    </div>
                </a>
                <a [routerLink]="['/mentor-student-list']" class="list-group-item list-group-item-action">
                    <div class="d-flex w-100 justify-content-between">
                        <p class="mb-1"><i class="fa-solid fa-list"></i> Student List</p>
                    </div>
                </a>
                <a [routerLink]="['/mentor-ongoing-class-list']" class="list-group-item list-group-item-action">
                    <div class="d-flex w-100 justify-content-between">
                        <p class="mb-1"><i class="fa-solid fa-list"></i> Ongoing Classes</p>
                    </div>
                </a>
                <a [routerLink]="['/mentor-assignment-list']" class="list-group-item list-group-item-action active">
                    <div class="d-flex w-100 justify-content-between">
                        <p class="mb-1"><i class="fa-solid fa-edit"></i> Assignment List</p>
                    </div>
                </a>
                <a [routerLink]="['/mentor-completed-class-list']"  class="list-group-item list-group-item-action">
                    <div class="d-flex w-100 justify-content-between">
                        <p class="mb-1"><i class="fa-solid fa-file-invoice-dollar"></i> Attended Class List</p>
                    </div>
                </a>
                <a [routerLink]="['/mentor-update-link']" class="list-group-item list-group-item-action">
                    <div class="d-flex w-100 justify-content-between">
                        <p class="mb-1"><i class="fa-solid fa-gear"></i> Update Link</p>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-9">
            <div class="scrollable-content mt-3">
                <div class="alert alert-success" role="alert">
                    <i class="fa-solid fa-edit"></i> Assignment List 
                    <button class="btn btn-success btn-sm float-end" (click)="openModal(template)"><i class="fa-solid fa-plus"></i> Create New Assignment</button>
                </div>
                
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Assignment</th>
                            <th scope="col">Deadline</th>
                            <th scope="col">Status</th>
                            <th scope="col">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">1</th>
                            <td>Assignment One</td>
                            <td>5th September 2023, 10.00AM</td>
                            <td class="text-success">Ongoing</td>
                            <td>
                                <button [routerLink]="['/mentor-student-progress-list']" class="btn btn-success btn-sm"><i class="fa-solid fa-eye"></i> See Details</button>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">2</th>
                            <td>Assignment Two</td>
                            <td>10th September 2023, 5.00PM</td>
                            <td class="text-success">Ongoing</td>
                            <td>
                                <button [routerLink]="['/mentor-student-progress-list']" class="btn btn-success btn-sm"><i class="fa-solid fa-eye"></i> See Details</button>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">3</th>
                            <td>Assignment Three</td>
                            <td>13th September 2023, 3.00PM</td>
                            <td class="text-success">Ongoing</td>
                            <td>
                                <button [routerLink]="['/mentor-student-progress-list']" class="btn btn-success btn-sm"><i class="fa-solid fa-eye"></i> See Details</button>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">3</th>
                            <td>Assignment Three</td>
                            <td>28th August 2023, 3.00PM</td>
                            <td class="text-warning">Finished</td>
                            <td>
                                <button [routerLink]="['/mentor-student-progress-list']" class="btn btn-light btn-sm"><i class="fa-solid fa-eye"></i> See Details</button>
                            </td>
                        </tr>
                    </tbody>
                </table>

            </div>
        </div>
    </div>
</div>

<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left"><i class="fa-solid fa-calendar-plus"></i> Add New Assignment</h4>
    <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="hideModal()">
      <span aria-hidden="true" class="visually-hidden">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form class="p-4 mb-2" [formGroup]="entryForm">
        <h6 class="">Title</h6>
        <div class="input-group">
            <input type="text" class="form-control" formControlName="title"
                [ngClass]="{ 'is-invalid': submitted && f['title'].errors }" placeholder="Title" autocomplete="off">
        </div>
        <div class="input-group mb-3">
            <div *ngIf="submitted && f['title'].errors" class="error-text">
                <span *ngIf="f['title'].errors?.['required']" class="text-danger"> Title is required</span>
            </div>
        </div>

        <h6 class="">Description</h6>
        <div class="input-group">
            <textarea class="form-control" formControlName="description"
                [ngClass]="{ 'is-invalid': submitted && f['description'].errors }" placeholder="Description" cols="30" rows="5"></textarea>
        </div>
        <div class="input-group mb-3">
            <div *ngIf="submitted && f['description'].errors" class="error-text">
                <span *ngIf="f['description'].errors?.['required']" class="text-danger"> Description is required</span>
            </div>
        </div>

        <h6 class="">Select Course</h6>
        <div class="input-group">
            <ng-select [items]="cars" 
                class="col-lg-12"
                bindLabel="name" 
                bindValue="id" 
                formControlName="course_id"
                 placeholder="Select Course"
                [ngClass]="{ 'is-invalid': submitted && f['course_id'].errors }">
            </ng-select>
        </div>
        <div class="input-group mb-3">
            <div *ngIf="submitted && f['course_id'].errors" class="error-text">
                <span *ngIf="f['course_id'].errors?.['required']" class="text-danger"> Course is required</span>
            </div>
        </div>

        <h6 class="">Select Student</h6>
        <div class="input-group">
            <ng-select [items]="cars" 
                class="col-lg-12"
                bindLabel="name" 
                bindValue="id" 
                formControlName="course_id"
                 placeholder="Select Student"
                [ngClass]="{ 'is-invalid': submitted && f['course_id'].errors }">
            </ng-select>
        </div>
        <div class="input-group mb-3">
            <div *ngIf="submitted && f['course_id'].errors" class="error-text">
                <span *ngIf="f['course_id'].errors?.['required']" class="text-danger"> Student is required</span>
            </div>
        </div>

        <h6 class="">Deadline Date</h6>
        <div class="input-group">
            <input type="datetime-local" class="form-control" formControlName="deadline"
                [ngClass]="{ 'is-invalid': submitted && f['deadline'].errors }" placeholder="Schedule Date" autocomplete="off">
        </div>
        <div class="input-group mb-3">
            <div *ngIf="submitted && f['deadline'].errors" class="error-text">
                <span *ngIf="f['deadline'].errors?.['required']" class="text-danger"> Deadline Date is required</span>
            </div>
        </div>
        <button type="submit" (click)="hideModal()" class="btn btn-secondary float-end mb-2">Close</button>
        <button type="submit" (click)="formSubmit()" class="btn btn-success float-end mx-2 mb-2">Submit</button>
    </form>
  </div>
</ng-template>
