<div class="container content-container">
    <div class="row">
        <div class="col-lg-3 mt-3 mb-5">
            <div class="list-group">
                <a href="#" class="list-group-item list-group-item-action" aria-current="true">
                    <div class="d-flex w-100 mt-4 justify-content-between">
                        <img src="assets/images/2793695.png" alt="" class="profile-img" />
                    </div>
                    <p class="mb-1 text-center mt-2 text-primary"><strong><i class="fa-solid fa-user"></i> {{ currentUser.full_name }}</strong></p>
                    <p class="mb-51 text-center text-success"><i class="fa-solid fa-phone"></i> {{ currentUser.contact_no }}</p>
                    <p class="mb-51 text-center text-secondary"> <i class="fa-solid fa-user-secret"></i> {{ currentUser.user_type }}</p>
                    <br/>
                    <br/>
                </a>
                <a [routerLink]="['/mentor-dashboard']" class="list-group-item list-group-item-action">
                    <div class="d-flex w-100 justify-content-between">
                        <p class="mb-1"><i class="fa-solid fa-receipt"></i> My Course List</p>
                    </div>
                </a>
                <a [routerLink]="['/mentor-student-list']" class="list-group-item list-group-item-action">
                    <div class="d-flex w-100 justify-content-between">
                        <p class="mb-1"><i class="fa-solid fa-list"></i> Student List</p>
                    </div>
                </a>
                <a [routerLink]="['/mentor-ongoing-class-list']" class="list-group-item list-group-item-action">
                    <div class="d-flex w-100 justify-content-between">
                        <p class="mb-1"><i class="fa-solid fa-list"></i> Ongoing Classes</p>
                    </div>
                </a>
                <a [routerLink]="['/mentor-assignment-list']" class="list-group-item list-group-item-action active">
                    <div class="d-flex w-100 justify-content-between">
                        <p class="mb-1"><i class="fa-solid fa-edit"></i> Assignment List</p>
                    </div>
                </a>
                <a [routerLink]="['/mentor-completed-class-list']"  class="list-group-item list-group-item-action">
                    <div class="d-flex w-100 justify-content-between">
                        <p class="mb-1"><i class="fa-solid fa-file-invoice-dollar"></i> Attended Class List</p>
                    </div>
                </a>
                <a [routerLink]="['/mentor-update-link']" class="list-group-item list-group-item-action">
                    <div class="d-flex w-100 justify-content-between">
                        <p class="mb-1"><i class="fa-solid fa-gear"></i> Update Link</p>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-9">
            <div class="scrollable-content mt-3">
                <div class="alert alert-success" role="alert">
                    <i class="fa-solid fa-edit"></i> Assignment List 
                    <button class="btn btn-success btn-sm float-end"><i class="fa-solid fa-plus"></i> Create New Assignment</button>
                </div>
                
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Assignment</th>
                            <th scope="col">Deadline</th>
                            <th scope="col">Status</th>
                            <th scope="col">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">1</th>
                            <td>Assignment One</td>
                            <td>5th September 2023, 10.00AM</td>
                            <td class="text-success">Ongoing</td>
                            <td>
                                <button [routerLink]="['/mentor-student-progress-list']" class="btn btn-success btn-sm"><i class="fa-solid fa-eye"></i> See Details</button>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">2</th>
                            <td>Assignment Two</td>
                            <td>10th September 2023, 5.00PM</td>
                            <td class="text-success">Ongoing</td>
                            <td>
                                <button [routerLink]="['/mentor-student-progress-list']" class="btn btn-success btn-sm"><i class="fa-solid fa-eye"></i> See Details</button>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">3</th>
                            <td>Assignment Three</td>
                            <td>13th September 2023, 3.00PM</td>
                            <td class="text-success">Ongoing</td>
                            <td>
                                <button [routerLink]="['/mentor-student-progress-list']" class="btn btn-success btn-sm"><i class="fa-solid fa-eye"></i> See Details</button>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">3</th>
                            <td>Assignment Three</td>
                            <td>28th August 2023, 3.00PM</td>
                            <td class="text-warning">Finished</td>
                            <td>
                                <button [routerLink]="['/mentor-student-progress-list']" class="btn btn-light btn-sm"><i class="fa-solid fa-eye"></i> See Details</button>
                            </td>
                        </tr>
                    </tbody>
                </table>

            </div>
        </div>
    </div>
</div>
