<div class="container  content-container ">
	<div class="row mt-5">
        <div class="col-12 mt-3 mb-3">
            <h5> <i class="fa-solid fa-users"></i> Expert List</h5>
        </div>
		<div class="col-12 col-md-3">
			<div class="list-group">
                <a href="#" class="list-group-item list-group-item-action" aria-current="true">
                    <div class="d-flex w-100 mt-4 justify-content-between">
                        <img src="assets/images/2793695.png" alt="" class="profile-img" />
                    </div>
                    <p class="mb-1 text-center mt-2 text-primary"><strong><i class="fa-solid fa-user"></i> Sadia Ishrat Tonika</strong></p>
                    <p class="mb-51 text-center text-success"><i class="fa-solid fa-book-open"></i>  B.Ed (Mathematics)</p>
                    <p class="mb-51 text-center text-secondary"> <i class="fa-solid fa-school"></i> University of Dhaka</p>
                    <div class="d-grid gap-2">
                        <button class="btn btn-light" type="button"><i class="fa-solid fa-eye"></i> See Details</button>
                    </div>
                </a>
            </div>
		</div>
		<div class="col-12 col-md-3">
			<div class="list-group">
                <a href="#" class="list-group-item list-group-item-action" aria-current="true">
                    <div class="d-flex w-100 mt-4 justify-content-between">
                        <img src="assets/images/2793695.png" alt="" class="profile-img" />
                    </div>
                    <p class="mb-1 text-center mt-2 text-primary"><strong><i class="fa-solid fa-user"></i> Rabeya Hashmi</strong></p>
                    <p class="mb-51 text-center text-success"><i class="fa-solid fa-book-open"></i> Business Administration</p>
                    <p class="mb-51 text-center text-secondary"> <i class="fa-solid fa-school"></i> East West University</p>
                    <div class="d-grid gap-2">
                        <button class="btn btn-light" type="button"><i class="fa-solid fa-eye"></i> See Details</button>
                    </div>
                </a>
            </div>
		</div>
		<div class="col-12 col-md-3">
			<div class="list-group">
                <a href="#" class="list-group-item list-group-item-action" aria-current="true">
                    <div class="d-flex w-100 mt-4 justify-content-between">
                        <img src="assets/images/2793695.png" alt="" class="profile-img" />
                    </div>
                    <p class="mb-1 text-center mt-2 text-primary"><strong><i class="fa-solid fa-user"></i> Md. Minhajul Arefin</strong></p>
                    <p class="mb-51 text-center text-success"><i class="fa-solid fa-book-open"></i> B.Ed (Bachelor of Education)</p>
                    <p class="mb-51 text-center text-secondary"> <i class="fa-solid fa-school"></i> University of Dhaka</p>
                    <div class="d-grid gap-2">
                        <button class="btn btn-light" type="button"><i class="fa-solid fa-eye"></i> See Details</button>
                    </div>
                </a>
            </div>
		</div>
		<div class="col-12 col-md-3">
			<div class="list-group">
                <a href="#" class="list-group-item list-group-item-action" aria-current="true">
                    <div class="d-flex w-100 mt-4 justify-content-between">
                        <img src="assets/images/2793695.png" alt="" class="profile-img" />
                    </div>
                    <p class="mb-1 text-center mt-2 text-primary"><strong><i class="fa-solid fa-user"></i> Maliha Mahjabin</strong></p>
                    <p class="mb-51 text-center text-success"><i class="fa-solid fa-book-open"></i> M.A (World Religions & Culture)</p>
                    <p class="mb-51 text-center text-secondary"> <i class="fa-solid fa-school"></i> University of Dhaka</p>
                    <div class="d-grid gap-2">
                        <button class="btn btn-light" type="button"><i class="fa-solid fa-eye"></i> See Details</button>
                    </div>
                </a>
            </div>
		</div>
	</div>
</div>
<br/> <br/> <br/> <br/> 
