<div class="container content-container">
  <div class="row">
    <div class="col-md-8">
      <div class="scrollable-content">
        <div class="mt-4 p-3">
          <h2 class="fw-bold">English</h2>
          <p>
            এসএসসি’র থেকে দ্বিগুনেরও বেশি অধ্যায় নিয়ে তৈরি এইচএসসি পরীক্ষার
            সিলেবাস। এইচএসসি পরীক্ষায় কাঙ্খিত ভাল ফলাফল অর্জণ করতে ১ম এবং ২য়
            পত্র দুটিতেই দরকার সমান প্রস্ততি। উভয় পত্রে নিজের দখলই প্রমাণ করবে
            তোমার একশোতে একশো প্রস্ততি। সঠিক পরিকল্পনা আর কার্যকরী রুটিনের সাথে
            চমৎকার ইন্টারেক্টিভ লাইভ ক্লাসের মাধ্যমে উভয় পত্রের প্রিপারেশন নিয়ে
            নাও টেন মিনিট স্কুলের HSC 2025 অনলাইন ব্যাচের সাথে।
          </p>
        </div>
        <div class="">
          <h3 class="mb-3">কোর্স সিলেবাস</h3>
          <div class="accordion" id="accordionExample">
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingOne">
                <button
                  class="accordion-button"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#collapseOne"
                  aria-expanded="true"
                  aria-controls="collapseOne"
                >
                  Lecture Sheet 01
                </button>
              </h2>
              <div
                id="collapseOne"
                class="accordion-collapse collapse show"
                aria-labelledby="headingOne"
                data-bs-parent="#accordionExample"
              >
                <div class="accordion-body">
                  
                    <ul class="list-group">
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            <span><i class="fa-solid fa-video"></i> Part One</span>
                            <span class="badge badge-pill text-body"> <i class="fa-solid fa-clock"></i> Part 01 13:48 minutes</span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            <span><i class="fa-solid fa-file-lines"></i> Script One</span>
                            <span class="badge badge-pill text-body"><i class="fa-solid fa-book"></i> 12 Pages</span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            <span><i class="fa-solid fa-list-check"></i> Quiz One</span>
                            <span class="badge badge-pill text-body"><i class="fa-solid fa-clock"></i> 15 minutes</span>
                        </li>
                    </ul>
                  
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingTwo">
                <button
                  class="accordion-button collapsed"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#collapseTwo"
                  aria-expanded="false"
                  aria-controls="collapseTwo"
                >
                  Lecture Sheet 02
                </button>
              </h2>
              <div
                id="collapseTwo"
                class="accordion-collapse collapse"
                aria-labelledby="headingTwo"
                data-bs-parent="#accordionExample"
              >
                <div class="accordion-body">
                    <ul class="list-group">
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            <span><i class="fa-solid fa-video"></i> Part Two</span>
                            <span class="badge badge-pill text-body"> <i class="fa-solid fa-clock"></i> Part 01 13:48 minutes</span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            <span><i class="fa-solid fa-file-lines"></i> Script Two</span>
                            <span class="badge badge-pill text-body"><i class="fa-solid fa-book"></i> 12 Pages</span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            <span><i class="fa-solid fa-list-check"></i> Quiz Two</span>
                            <span class="badge badge-pill text-body"><i class="fa-solid fa-clock"></i> 15 minutes</span>
                        </li>
                    </ul>
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingThree">
                <button
                  class="accordion-button collapsed"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#collapseThree"
                  aria-expanded="false"
                  aria-controls="collapseThree"
                >
                  Lecture Sheet 03
                </button>
              </h2>
              <div
                id="collapseThree"
                class="accordion-collapse collapse"
                aria-labelledby="headingThree"
                data-bs-parent="#accordionExample"
              >
                <div class="accordion-body">
                    <ul class="list-group">
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            <span><i class="fa-solid fa-video"></i> Part Three</span>
                            <span class="badge badge-pill text-body"> <i class="fa-solid fa-clock"></i> Part 01 13:48 minutes</span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            <span><i class="fa-solid fa-file-lines"></i> Script Three</span>
                            <span class="badge badge-pill text-body"><i class="fa-solid fa-book"></i> 12 Pages</span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            <span><i class="fa-solid fa-list-check"></i> Quiz Three</span>
                            <span class="badge badge-pill text-body"><i class="fa-solid fa-clock"></i> 15 minutes</span>
                        </li>
                    </ul>
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingFour">
                <button
                  class="accordion-button collapsed"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#collapseFour"
                  aria-expanded="false"
                  aria-controls="collapseThree"
                >
                  Lecture Sheet 04
                </button>
              </h2>
              <div
                id="collapseFour"
                class="accordion-collapse collapse"
                aria-labelledby="headingFour"
                data-bs-parent="#accordionExample"
              >
                <div class="accordion-body">
                    <ul class="list-group">
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            <span><i class="fa-solid fa-video"></i> Part Four</span>
                            <span class="badge badge-pill text-body"> <i class="fa-solid fa-clock"></i> Part 01 13:48 minutes</span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            <span><i class="fa-solid fa-file-lines"></i> Script Four</span>
                            <span class="badge badge-pill text-body"><i class="fa-solid fa-book"></i> 12 Pages</span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            <span><i class="fa-solid fa-list-check"></i> Quiz Four</span>
                            <span class="badge badge-pill text-body"><i class="fa-solid fa-clock"></i> 15 minutes</span>
                        </li>
                    </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="mt-5">
          <h4>যেভাবে পেমেন্ট করবেন</h4>
          <div class="card">
            <div class="card-body">
              <p>ইন্টারনেট সংযোগ (ওয়াইফাই বা মোবাইল ইন্টারনেট)</p>
              <p>স্মার্টফোন অথবা পিসি</p>
            </div>
          </div>
        </div>
        <div class="">
          <h3 class="mb-3 mt-2">সচরাচর জিজ্ঞাসা</h3>
          <div class="accordion" id="accordionExample">
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingOne">
                <button
                  class="accordion-button"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#collapseOne"
                  aria-expanded="true"
                  aria-controls="collapseOne"
                >
                  1. কোর্সটি কাদের জন্য?
                </button>
              </h2>
              <div
                id="collapseOne"
                class="accordion-collapse collapse show"
                aria-labelledby="headingOne"
                data-bs-parent="#accordionExample"
              >
                <div class="accordion-body">
                  ঢাকা বিশ্ববিদ্যালয়ের B এবং C ইউনিটের ভর্তি পরিক্ষার্থীদের জন্য এবং যাদের ভর্তি পরীক্ষায় অন্য বিষয়গুলোর সাথে ইংরেজিতেও লিখিত পরীক্ষা দিতে হবে। তবে অন্য সকল পাবলিক বিশ্ববিদ্যালয়ের ভর্তিচ্ছু শিক্ষার্থীদের জন্যও কোর্সটি দারুনভাবে কার্যকরী।
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingTwo">
                <button
                  class="accordion-button collapsed"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#collapseTwo"
                  aria-expanded="false"
                  aria-controls="collapseTwo"
                >
                  2. কোর্সটির এক্সপার্ট হিসেবে কারা থাকছেন?
                </button>
              </h2>
              <div
                id="collapseTwo"
                class="accordion-collapse collapse"
                aria-labelledby="headingTwo"
                data-bs-parent="#accordionExample"
              >
                <div class="accordion-body">
                  ঢাকা বিশ্ববিদ্যালয় এবং IBA এর মেধাবী শিক্ষার্থীরা কোর্সটির এক্সাপার্ট হিসেবে সেবা দিয়ে থাকেন।
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingThree">
                <button
                  class="accordion-button collapsed"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#collapseThree"
                  aria-expanded="false"
                  aria-controls="collapseThree"
                >
                  3. কোর্সটি কিভাবে ভর্তি পরিক্ষার্থীদের উপকার করবে?
                </button>
              </h2>
              <div
                id="collapseThree"
                class="accordion-collapse collapse"
                aria-labelledby="headingThree"
                data-bs-parent="#accordionExample"
              >
                <div class="accordion-body">
                  প্রচলিত ক্লাসে সকল শিক্ষার্থীরা আলাদা ফিডব্যাক না পাওয়াতে নিজের শক্তি ও দুর্বলতা সম্পর্কে সুস্পষ্ট ধারণা পায়না, তাই এই কোর্সটি তাদের শক্তি ও দুর্বলতাগুলো খুঁজে সবচেয়ে ভালো প্রস্তুতি নিতে সহায়তা করবে।
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingFour">
                <button
                  class="accordion-button collapsed"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#collapseFour"
                  aria-expanded="false"
                  aria-controls="collapseThree"
                >
                  4. কোর্সটির মেয়াদ কতদিন?
                </button>
              </h2>
              <div
                id="collapseFour"
                class="accordion-collapse collapse"
                aria-labelledby="headingFour"
                data-bs-parent="#accordionExample"
              >
                <div class="accordion-body">
                  কেনার পর থেকে কোর্সটির মেয়াদ ঢাকা বিশ্ববিদ্যালয় ভর্তি পরীক্ষা হওয়া পর্যন্ত সচল থাকবে।
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-6 p-5">
      <!-- Content for the second column -->
      <div class="card col-md-12">
        <div class="card-body p-0">
          <img
            src="assets/images/images.png "
            alt=""
            class="w-100 rounded-top"
          />
          <h3 class="px-2">৳1500</h3>
          <div class="p-3">
            <button class="btn btn-success p-2 col-md-12">
              বুকিং করো এখনই
            </button>
            <p class="mt-4">ভর্তি হয়েছেন ৫৭ জন</p>
            <p>৫ টি ফাইনাল মডেল টেস্ট</p>
            <p>৯০ টি লেকচার স্লাইড</p>
            <p>৮০ টি লেকচার শিট</p>
            <p>৯০ টি অধ্যায় ভিত্তিক MCQ এক্সাম</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
