<div class="container content-container">
    <div class="row">
        <div class="col-lg-3 mt-3 mb-5">
            <div class="list-group">
                <a href="#" class="list-group-item list-group-item-action" aria-current="true">
                    <div class="d-flex w-100 mt-4 justify-content-between">
                        <img *ngIf="!currentUser.image" src="assets/images/2793695.png" alt="" class="profile-img" />
                        <img *ngIf="currentUser.image" src="{{ assetURL+currentUser.image }}" alt="" class="profile-img" />
                    </div>
                    <p class="mb-1 text-center mt-2 text-primary"><strong><i class="fa-solid fa-user"></i> {{ currentUser.full_name }}</strong></p>
                    <p class="mb-51 text-center text-success"><i class="fa-solid fa-phone"></i> {{ currentUser.contact_no }}</p>
                    <p class="mb-51 text-center text-secondary"> <i class="fa-solid fa-user-secret"></i> {{ currentUser.user_type }}</p>
                    <br/>
                    <br/>
                </a>
                <a [routerLink]="['/student-dashboard']" class="list-group-item list-group-item-action">
                    <div class="d-flex w-100 justify-content-between">
                        <p class="mb-1"><i class="fa-solid fa-receipt"></i> Dashboard</p>
                    </div>
                </a>
                <a [routerLink]="['/student-class-list']" class="list-group-item list-group-item-action active">
                    <div class="d-flex w-100 justify-content-between">
                        <p class="mb-1"><i class="fa-solid fa-receipt"></i> Class List</p>
                    </div>
                </a>
                <a [routerLink]="['/student-course-list']" class="list-group-item list-group-item-action">
                    <div class="d-flex w-100 justify-content-between">
                        <p class="mb-1"><i class="fa-solid fa-list"></i> My Course List</p>
                    </div>
                </a>
                <a [routerLink]="['/student-assignment-list']" class="list-group-item list-group-item-action">
                    <div class="d-flex w-100 justify-content-between">
                        <p class="mb-1"><i class="fa-solid fa-edit"></i> My Assignment List</p>
                    </div>
                </a>
                <a [routerLink]="['/student-exam-list']" class="list-group-item list-group-item-action">
                    <div class="d-flex w-100 justify-content-between">
                        <p class="mb-1"><i class="fa-solid fa-file-pen"></i> Exam List</p>
                    </div>
                </a>
                <a [routerLink]="['/student-purchase-course-list']" class="list-group-item list-group-item-action">
                    <div class="d-flex w-100 justify-content-between">
                        <p class="mb-1"><i class="fa-solid fa-list"></i> Purchase List</p>
                    </div>
                </a>
                <a [routerLink]="['/student-payment-list']" class="list-group-item list-group-item-action">
                    <div class="d-flex w-100 justify-content-between">
                        <p class="mb-1"><i class="fa-solid fa-file-invoice-dollar"></i> Payment List</p>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-9">
            <div class="scrollable-content mt-3">
                <div class="alert alert-success" role="alert">
                    <i class="fa-solid fa-list"></i> My Class History
                    <span (click)="backToPage()" class="float-end btn btn-secondary btn-sm"><i class="fa-solid fa-circle-left"></i> Back</span>
                </div>
                <table class="table table-bordered table-sm">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Mentor</th>
                            <th scope="col">Course</th>
                            <th scope="col">Schedule Time</th>
                            <th scope="col">Join Time</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr  *ngFor="let item of classList; let i = index;">
                            <th class="align-middle" scope="row">{{ i + 1 }}</th>
                            <td class="align-middle">
                                {{ item.mentor_name }}
                            </td>
                            <td class="align-middle">{{ item.course_title }}</td>
                            <td class="align-middle">
                                {{ item.schedule_datetime | date :'MMM d, y, h:mm a' }}
                            </td>
                            <td class="align-middle">
                                {{ item.join_time | date :'MMM d, y, h:mm a' }}
                            </td>
                        </tr>
                        <tr  *ngIf="classList.length <= 0">
                            <th class="align-middle" colspan="5">No Data Found!</th>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<ng-template #startClassConfirmTemplate>
  <div class="modal-body text-center">
    <p class="text-success">Do you want to join?</p>
    <button type="button" class="btn btn-outline-success mx-2" (click)="confirmStartClass()" >Join</button>
    <button type="button" class="btn btn-outline-secondary" (click)="declineStartClass()" >No</button>
  </div>
</ng-template>

<block-ui></block-ui>
