<div class="container content-container">
  <div class="row" *ngIf="is_loaded">
    <div class="col-md-8">
      <div class="scrollable-content">
        <div class="mt-4 p-3">
          <h2 class="fw-bold">
            {{ courseDetails.title }}
          </h2>
          <p>
            {{ courseDetails.description }}
          </p>
        </div>
        <div class="">
            <h3 class="mb-3">Course Outline</h3>
          
            <ul class="list-group" *ngFor="let item of courseDetails.course_outline; let i = index;">

                <li class="list-group-item d-flex justify-content-between align-items-center mt-2 active" *ngIf="item.is_only_note">
                    <span><i class="fa-solid fa-list"></i>  {{item.title}}</span>
                </li>

                <li class="list-group-item d-flex justify-content-between align-items-center" *ngIf="item.chapter_video_id">
                    <span><i class="fa-solid fa-video"></i> {{ item.title }}</span>
                    <span class="badge badge-pill text-body"> <i class="fa-solid fa-clock"></i> {{ item.video_duration }} minutes</span>
                </li>

                <li class="list-group-item d-flex justify-content-between align-items-center" *ngIf="item.chapter_script_id">
                    <span><i class="fa-solid fa-file-lines"></i> {{ item.script_title }}</span>
                    <span class="badge badge-pill text-body"><i class="fa-solid fa-book"></i> Download</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center" *ngIf="item.chapter_quiz_id">
                    <span><i class="fa-solid fa-list-check"></i> {{ item.quiz_title }}</span>
                    <span class="badge badge-pill text-body"><i class="fa-solid fa-clock"></i> {{ item.quiz_duration }}</span>
                </li>
            </ul>
        </div>

        <div class="mb-5 mt-4">
          <h4>ক্লাস রুটিন</h4>
          <table class="table table-bordered text-center mt-3">
            <thead>
              <tr>
                <th>Day</th>
                <th>Class</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of courseDetails.course_routine; let i = index;">
                <td *ngIf="!item.is_note">{{ item.day }}</td>
                <td *ngIf="!item.is_note">{{ item.class_title }}</td>
                <td colspan="2" class="total-row" *ngIf="item.is_note">
                    {{ item.day }}
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="mt-5">
          <h3 class="mb-3">ক্লাস নেবেন যারা</h3>
          <div class="row">
            <div class="col-12 col-md-6" *ngFor="let item of courseDetails.course_mentor; let i = index;">
                <div class="list-group">
                    <a href="#" class="list-group-item list-group-item-action" aria-current="true">
                        <div class="d-flex w-100 mt-4 justify-content-between">
                            <img src="assets/images/2793695.png" alt="" class="profile-img" />
                        </div>
                        <p class="mb-1 text-center mt-2 text-primary"><strong><i class="fa-solid fa-user"></i> {{ item.name }}</strong></p>
                        <p class="mb-51 text-center text-success"><i class="fa-solid fa-book-open"></i> {{ item.education }}</p>
                        <p class="mb-51 text-center text-secondary"> <i class="fa-solid fa-school"></i> {{ item.institute }}</p>
                        <div class="d-grid gap-2">
                            <button class="btn btn-light" type="button"><i class="fa-solid fa-eye"></i> See Details</button>
                        </div>
                    </a>
                </div>
            </div>
          </div>
        </div>
        <div class="mt-5">
          <h4>যেভাবে পেমেন্ট করবেন</h4>
          <div class="card">
            <div class="card-body">
              <p>ইন্টারনেট সংযোগ (ওয়াইফাই বা মোবাইল ইন্টারনেট)</p>
              <p>স্মার্টফোন অথবা পিসি</p>
            </div>
          </div>
        </div>
        <div class="">
          <h3 class="mb-3 mt-2">সচরাচর জিজ্ঞাসা</h3>
          <div class="accordion" id="accordionExample">
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingOne">
                <button
                  class="accordion-button"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#collapseOne"
                  aria-expanded="true"
                  aria-controls="collapseOne"
                >
                  1. কোর্সটি কাদের জন্য?
                </button>
              </h2>
              <div
                id="collapseOne"
                class="accordion-collapse collapse show"
                aria-labelledby="headingOne"
                data-bs-parent="#accordionExample"
              >
                <div class="accordion-body">
                  ঢাকা বিশ্ববিদ্যালয়ের B এবং C ইউনিটের ভর্তি পরিক্ষার্থীদের জন্য
                  এবং যাদের ভর্তি পরীক্ষায় অন্য বিষয়গুলোর সাথে ইংরেজিতেও লিখিত
                  পরীক্ষা দিতে হবে। তবে অন্য সকল পাবলিক বিশ্ববিদ্যালয়ের
                  ভর্তিচ্ছু শিক্ষার্থীদের জন্যও কোর্সটি দারুনভাবে কার্যকরী।
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingTwo">
                <button
                  class="accordion-button collapsed"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#collapseTwo"
                  aria-expanded="false"
                  aria-controls="collapseTwo"
                >
                  2. কোর্সটির এক্সপার্ট হিসেবে কারা থাকছেন?
                </button>
              </h2>
              <div
                id="collapseTwo"
                class="accordion-collapse collapse"
                aria-labelledby="headingTwo"
                data-bs-parent="#accordionExample"
              >
                <div class="accordion-body">
                  ঢাকা বিশ্ববিদ্যালয় এবং IBA এর মেধাবী শিক্ষার্থীরা কোর্সটির
                  এক্সাপার্ট হিসেবে সেবা দিয়ে থাকেন।
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingThree">
                <button
                  class="accordion-button collapsed"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#collapseThree"
                  aria-expanded="false"
                  aria-controls="collapseThree"
                >
                  3. কোর্সটি কিভাবে ভর্তি পরিক্ষার্থীদের উপকার করবে?
                </button>
              </h2>
              <div
                id="collapseThree"
                class="accordion-collapse collapse"
                aria-labelledby="headingThree"
                data-bs-parent="#accordionExample"
              >
                <div class="accordion-body">
                  প্রচলিত ক্লাসে সকল শিক্ষার্থীরা আলাদা ফিডব্যাক না পাওয়াতে
                  নিজের শক্তি ও দুর্বলতা সম্পর্কে সুস্পষ্ট ধারণা পায়না, তাই এই
                  কোর্সটি তাদের শক্তি ও দুর্বলতাগুলো খুঁজে সবচেয়ে ভালো প্রস্তুতি
                  নিতে সহায়তা করবে।
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingFour">
                <button
                  class="accordion-button collapsed"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#collapseFour"
                  aria-expanded="false"
                  aria-controls="collapseThree"
                >
                  4. কোর্সটির মেয়াদ কতদিন?
                </button>
              </h2>
              <div
                id="collapseFour"
                class="accordion-collapse collapse"
                aria-labelledby="headingFour"
                data-bs-parent="#accordionExample"
              >
                <div class="accordion-body">
                  কেনার পর থেকে কোর্সটির মেয়াদ ঢাকা বিশ্ববিদ্যালয় ভর্তি পরীক্ষা
                  হওয়া পর্যন্ত সচল থাকবে।
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-6 p-5">
      <!-- Content for the second column -->
      <div class="card col-md-12">
        <div class="card-body p-0">
          <img
            src="assets/images/images.png "
            alt=""
            class="w-100 rounded-top"
          />
            <button class="btn btn-secondary btn-btom btn-custom d-flex justify-content-between price-btn" type="button">
                <div class="l-text-btn-btom">৳{{ courseDetails.sale_price }}</div>
                <div class="r-text-btn-btom"><s>৳{{ courseDetails.regular_price }}</s></div>
            </button>
          <div class="p-3">
            <button class="btn btn-success col-md-12 mb-4" *ngIf="is_authenticated && !courseDetails.is_purchased" (click)="PayNow()">
              Pay Now
            </button>

            <button class="btn btn-warning col-md-12 mb-4" *ngIf="is_authenticated && courseDetails.is_purchased">
              <strong><i>Purchased</i></strong>
            </button>

            <button class="btn btn-success col-md-12 mb-4" *ngIf="!is_authenticated && !courseDetails.is_purchased" [routerLink]="['/login']">
              Pay Now (Login First)
            </button>
            <br/>
            <p *ngFor="let item of courseDetails.course_feature; let i = index;"><i class="fa-solid fa-circle-check text-success"></i> {{ item.title }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

  <block-ui></block-ui>
