<div class="container content-container">
    <div class="row">
        <div class="col-lg-3 mt-3 mb-5">
            <div class="list-group">
                <a href="#" class="list-group-item list-group-item-action" aria-current="true">
                    <div class="d-flex w-100 mt-4 justify-content-between">
                        <img src="assets/images/2793695.png" alt="" class="profile-img" />
                    </div>
                    <p class="mb-1 text-center mt-2 text-primary"><strong><i class="fa-solid fa-user"></i> {{ currentUser.full_name }}</strong></p>
                    <p class="mb-51 text-center text-success"><i class="fa-solid fa-phone"></i> {{ currentUser.contact_no }}</p>
                    <p class="mb-51 text-center text-secondary"> <i class="fa-solid fa-user-secret"></i> {{ currentUser.user_type }}</p>
                    <br/>
                    <br/>
                </a>
                <a [routerLink]="['/mentor-dashboard']" class="list-group-item list-group-item-action">
                    <div class="d-flex w-100 justify-content-between">
                        <p class="mb-1"><i class="fa-solid fa-receipt"></i> My Course List</p>
                    </div>
                </a>
                <a [routerLink]="['/mentor-student-list']" class="list-group-item list-group-item-action">
                    <div class="d-flex w-100 justify-content-between">
                        <p class="mb-1"><i class="fa-solid fa-list"></i> Student List</p>
                    </div>
                </a>
                <a [routerLink]="['/mentor-ongoing-class-list']" class="list-group-item list-group-item-action active">
                    <div class="d-flex w-100 justify-content-between">
                        <p class="mb-1"><i class="fa-solid fa-list"></i> Ongoing Classes</p>
                    </div>
                </a>
                <a [routerLink]="['/mentor-assignment-list']" class="list-group-item list-group-item-action">
                    <div class="d-flex w-100 justify-content-between">
                        <p class="mb-1"><i class="fa-solid fa-edit"></i> Assignment List</p>
                    </div>
                </a>
                <a [routerLink]="['/mentor-completed-class-list']" class="list-group-item list-group-item-action">
                    <div class="d-flex w-100 justify-content-between">
                        <p class="mb-1"><i class="fa-solid fa-file-invoice-dollar"></i> Attended Class List</p>
                    </div>
                </a>
                <a [routerLink]="['/mentor-update-link']" class="list-group-item list-group-item-action">
                    <div class="d-flex w-100 justify-content-between">
                        <p class="mb-1"><i class="fa-solid fa-gear"></i> Update Link</p>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-9">
            <div class="scrollable-content mt-3">
                <div class="alert alert-info" role="alert">
                    <i class="fa-solid fa-calendar-day"></i> My Ongoing Class List
                </div>
                <table class="table table-bordered table-sm">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Student</th>
                            <th scope="col">Course</th>
                            <th scope="col">Date</th>
                            <th scope="col">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr  *ngFor="let item of classList; let i = index;">
                            <th class="align-middle" scope="row">{{ i + 1 }}</th>
                            <td class="align-middle">
                                {{ item.student_name }} ({{ item.student_contact_no }})
                            </td>
                            <td class="align-middle">{{ item.course_title }}</td>
                            <td class="align-middle">
                                {{ item.schedule_datetime | date :'MMM d, y, h:mm a' }}<br/>
                                <span *ngIf="item.has_started && !item.has_completed" class="small">
                                    <strong *ngIf="item.start_time">Start:</strong> {{ item.start_time | date :'MMM d, y, h:mm a' }}
                                </span>
                                <span *ngIf="item.has_completed" class="small">
                                    <strong *ngIf="item.start_time">Start:</strong> {{ item.start_time | date :'MMM d, y, h:mm a' }}
                                    <strong *ngIf="item.end_time">End:</strong> {{ item.end_time | date :'MMM d, y, h:mm a' }}
                                </span>
                            </td>
                            <td class="align-middle">
                                <button class="btn btn-success mx-2 btn-sm" *ngIf="item.has_completed"><i class="fa-solid fa-circle-check"></i> Completed</button>
                                <a href="{{ item.join_link }}" target="_blank"><button class="btn btn-info mx-2 btn-sm" *ngIf="!item.has_completed && item.can_join"><i class="fa-solid fa-headset"></i> Join Class <i class="fa-solid fa-arrow-up-right-dots"></i></button></a>
                                <button class="btn btn-danger mx-2 btn-sm" (click)="endClassConfirmModal(item, endClassConfirmTemplate)" *ngIf="item.has_started && !item.has_completed"><i class="fa-solid fa-power-off"></i> End Class</button>
                                <button class="btn btn-secondary mx-2 btn-sm disabled" *ngIf="!item.has_completed && !item.can_join"><i class="fa-solid fa-headset"></i> Join Class <i class="fa-solid fa-arrow-up-right-dots"></i></button>
                            </td>
                        </tr>
                        <tr *ngIf="classList.length <= 0">
                            <td colspan="5">
                                <span class="mx-2 mt-2 mb-2">No Class Found!</span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<ng-template #endClassConfirmTemplate>
  <div class="modal-body text-center">
    <p class="text-danger">Do you want to end class?</p>
    <button type="button" class="btn btn-outline-danger mx-2" (click)="confirmEndClass()" >End Class</button>
    <button type="button" class="btn btn-outline-secondary" (click)="declineEndClass()" >No</button>
  </div>
</ng-template>

<block-ui></block-ui>
