<div class="container content-container">
    <div class="row">
        <div class="col-lg-3 mt-3 mb-5">
            <div class="list-group">
                <a href="#" class="list-group-item list-group-item-action" aria-current="true">
                    <div class="d-flex w-100 mt-4 justify-content-between">
                        <img *ngIf="!currentUser.image" src="assets/images/2793695.png" alt="" class="profile-img" />
                        <img *ngIf="currentUser.image" src="{{ assetURL+currentUser.image }}" alt="" class="profile-img" />
                    </div>
                    <p class="mb-1 text-center mt-2 text-primary"><strong><i class="fa-solid fa-user"></i> {{ currentUser.full_name }}</strong></p>
                    <p class="mb-51 text-center text-success"><i class="fa-solid fa-phone"></i> {{ currentUser.contact_no }}</p>
                    <p class="mb-51 text-center text-secondary"> <i class="fa-solid fa-user-secret"></i> {{ currentUser.user_type }}</p>
                    <br/>
                    <br/>
                </a>
                <a [routerLink]="['/mentor-dashboard']" class="list-group-item list-group-item-action">
                    <div class="d-flex w-100 justify-content-between">
                        <p class="mb-1"><i class="fa-solid fa-receipt"></i> My Course List</p>
                    </div>
                </a>
                <a [routerLink]="['/mentor-student-list']" class="list-group-item list-group-item-action active">
                    <div class="d-flex w-100 justify-content-between">
                        <p class="mb-1"><i class="fa-solid fa-list"></i> Student List</p>
                    </div>
                </a>
                <a [routerLink]="['/mentor-ongoing-class-list']" class="list-group-item list-group-item-action">
                    <div class="d-flex w-100 justify-content-between">
                        <p class="mb-1"><i class="fa-solid fa-list"></i> Ongoing  Classes</p>
                    </div>
                </a>
                <a [routerLink]="['/mentor-assignment-list']" class="list-group-item list-group-item-action">
                    <div class="d-flex w-100 justify-content-between">
                        <p class="mb-1"><i class="fa-solid fa-edit"></i> Assignment List</p>
                    </div>
                </a>
                <a [routerLink]="['/mentor-completed-class-list']" class="list-group-item list-group-item-action">
                    <div class="d-flex w-100 justify-content-between">
                        <p class="mb-1"><i class="fa-solid fa-file-invoice-dollar"></i> Attended Class List</p>
                    </div>
                </a>
                <a [routerLink]="['/mentor-update-link']" class="list-group-item list-group-item-action">
                    <div class="d-flex w-100 justify-content-between">
                        <p class="mb-1"><i class="fa-solid fa-gear"></i> Update Link</p>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-9">
            <div class="scrollable-content mt-3">
                <div class="alert alert-info" role="alert">
                    <i class="fa-solid fa-calendar-day"></i> My Schedule List <span *ngIf="is_loaded_student"> <strong>({{ studentDetails.name }} - {{ studentDetails.contact_no }})</strong></span>
                    <span (click)="backToPage()" class="float-end btn btn-secondary btn-sm"><i class="fa-solid fa-circle-left"></i> Back</span>
                    <button (click)="openModal(template)" class="btn btn-success btn-sm float-end mx-2"><i class="fa-solid fa-calendar-plus"></i> Add Schedule</button>
                </div>
                <table class="table table-bordered table-sm">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Course</th>
                            <th scope="col">Date</th>
                            <th scope="col">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr  *ngFor="let item of classList; let i = index;">
                            <th class="align-middle" scope="row">{{ i + 1 }}</th>
                            <td class="align-middle">{{ item.course_title }}</td>
                            <td>
                                {{ item.schedule_datetime | date :'MMM d, y, h:mm a' }} <br/>
                                <span *ngIf="item.has_started && !item.has_completed" class="small">
                                    <strong *ngIf="item.start_time">Start:</strong> {{ item.start_time | date :'MMM d, y, h:mm a' }}
                                </span>
                                <span *ngIf="item.has_completed" class="small">
                                    <strong *ngIf="item.start_time">Start:</strong> {{ item.start_time | date :'MMM d, y, h:mm a' }}
                                    <strong *ngIf="item.end_time">End:</strong> {{ item.end_time | date :'MMM d, y, h:mm a' }}
                                </span>
                            </td>
                            <td class="align-middle">
                                <button class="btn btn-success mx-2 btn-sm" *ngIf="item.has_completed"><i class="fa-solid fa-circle-check"></i> Completed</button>
                                <button class="btn btn-info mx-2 btn-sm" (click)="startClassConfirmModal(item, startClassConfirmTemplate)" *ngIf="!item.has_completed && item.can_join"><i class="fa-solid fa-headset"></i> Join Class <i class="fa-solid fa-arrow-up-right-dots"></i></button>
                                <button class="btn btn-secondary mx-2 btn-sm disabled" *ngIf="!item.has_completed && !item.can_join"><i class="fa-solid fa-headset"></i> Join Class <i class="fa-solid fa-arrow-up-right-dots"></i></button>
                                <button class="btn btn-warning mx-2 btn-sm" (click)="openUpdateModal(item, updateTemplate)" *ngIf="!item.has_started && !item.has_completed"><i class="fa-solid fa-edit"></i> Edit</button>
                                <button class="btn btn-secondary mx-2 btn-sm disabled" *ngIf="item.has_started && !item.has_completed"><i class="fa-solid fa-edit"></i> Edit</button>
                                <button class="btn btn-danger mx-2 btn-sm" (click)="deleteConfirmModal(item, confirmDeleteTemplate)" *ngIf="!item.has_completed"><i class="fa-solid fa-trash"></i></button>
                                <button class="btn btn-info mx-2 btn-sm" (click)="endClassConfirmModal(item, endClassConfirmTemplate)" *ngIf="item.has_started && !item.has_completed"><i class="fa-solid fa-scissors"></i></button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<ng-template #template>
  <div class="modal-header">
    <h5 class="modal-title pull-left"><i class="fa-solid fa-calendar-plus"></i> Add New Schedule <span *ngIf="is_loaded_student"> <strong>({{ studentDetails.name }})</strong></span></h5>
    <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="modalRef?.hide()">
      <span aria-hidden="true" class="visually-hidden">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form class="p-4 mb-2" [formGroup]="entryForm">
        <h6 class="">Schedule Date</h6>
        <div class="input-group">
            <input type="datetime-local" class="form-control" formControlName="schedule_date"
                [ngClass]="{ 'is-invalid': submitted && f['schedule_date'].errors }" placeholder="Schedule Date" autocomplete="off">
        </div>
        <div class="input-group mb-3">
            <div *ngIf="submitted && f['schedule_date'].errors" class="error-text">
                <span *ngIf="f['schedule_date'].errors?.['required']" class="text-danger"> Schedule Date is required</span>
            </div>
        </div>
        <button type="submit" (click)="formSubmit()" class="btn btn-success form-control">Submit</button>
    </form>
  </div>
</ng-template>

<ng-template #updateTemplate>
  <div class="modal-header">
    <h5 class="modal-title pull-left"><i class="fa-solid fa-calendar-plus"></i> Update Schedule <span *ngIf="is_loaded_student"> <strong>({{ studentDetails.name }})</strong></span></h5>
    <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="modalRef?.hide()">
      <span aria-hidden="true" class="visually-hidden">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form class="p-4 mb-2" [formGroup]="updateForm">
        <h6 class="">Schedule Date</h6>
        <div class="input-group">
            <input type="datetime-local" class="form-control" formControlName="schedule_date"
                [ngClass]="{ 'is-invalid': submitted && uf['schedule_date'].errors }" placeholder="Schedule Date" autocomplete="off">
        </div>
        <div class="input-group mb-3">
            <div *ngIf="submitted && uf['schedule_date'].errors" class="error-text">
                <span *ngIf="uf['schedule_date'].errors?.['required']" class="text-danger"> Schedule Date is required</span>
            </div>
        </div>
        <button type="submit" (click)="formUpdateSubmit()" class="btn btn-success form-control">Update</button>
    </form>
  </div>
</ng-template>

<ng-template #confirmDeleteTemplate>
  <div class="modal-body text-center">
    <p class="text-danger">Do you want to delete schedule?</p>
    <button type="button" class="btn btn-outline-danger mx-2" (click)="confirmDelete()" >Delete</button>
    <button type="button" class="btn btn-outline-secondary" (click)="declineDelete()" >No</button>
  </div>
</ng-template>

<ng-template #endClassConfirmTemplate>
  <div class="modal-body text-center">
    <p class="text-danger">Do you want to end class?</p>
    <button type="button" class="btn btn-outline-danger mx-2" (click)="confirmEndClass()" >End Class</button>
    <button type="button" class="btn btn-outline-secondary" (click)="declineEndClass()" >No</button>
  </div>
</ng-template>

<ng-template #startClassConfirmTemplate>
  <div class="modal-body text-center">
    <p class="text-success">Do you want to start class?</p>
    <button type="button" class="btn btn-outline-success mx-2" (click)="confirmStartClass()" >Start Class</button>
    <button type="button" class="btn btn-outline-secondary" (click)="declineStartClass()" >No</button>
  </div>
</ng-template>

<block-ui></block-ui>
