<div class="container content-container">
    <div class="row">
        <div class="col-lg-3 mt-3 mb-5">
            <div class="list-group">
                <a href="#" class="list-group-item list-group-item-action" aria-current="true">
                    <div class="d-flex w-100 mt-4 justify-content-between">
                        <img *ngIf="!currentUser.image" src="assets/images/2793695.png" alt="" class="profile-img" />
                        <img *ngIf="currentUser.image" src="{{ assetURL+currentUser.image }}" alt="" class="profile-img" />
                    </div>
                    <p class="mb-1 text-center mt-2 text-primary"><strong><i class="fa-solid fa-user"></i> {{ currentUser.full_name }}</strong></p>
                    <p class="mb-51 text-center text-success"><i class="fa-solid fa-phone"></i> {{ currentUser.contact_no }}</p>
                    <p class="mb-51 text-center text-secondary"> <i class="fa-solid fa-user-secret"></i> {{ currentUser.user_type }}</p>
                    <br/>
                    <br/>
                </a>
                <a [routerLink]="['/mentor-dashboard']" class="list-group-item list-group-item-action">
                    <div class="d-flex w-100 justify-content-between">
                        <p class="mb-1"><i class="fa-solid fa-receipt"></i> My Course List</p>
                    </div>
                </a>
                <a [routerLink]="['/mentor-student-list']" class="list-group-item list-group-item-action">
                    <div class="d-flex w-100 justify-content-between">
                        <p class="mb-1"><i class="fa-solid fa-list"></i> Student List</p>
                    </div>
                </a>
                <a [routerLink]="['/mentor-ongoing-class-list']" class="list-group-item list-group-item-action">
                    <div class="d-flex w-100 justify-content-between">
                        <p class="mb-1"><i class="fa-solid fa-list"></i> Ongoing Classes</p>
                    </div>
                </a>
                <a [routerLink]="['/mentor-assignment-list']" class="list-group-item list-group-item-action">
                    <div class="d-flex w-100 justify-content-between">
                        <p class="mb-1"><i class="fa-solid fa-edit"></i> Assignment List</p>
                    </div>
                </a>
                <a [routerLink]="['/mentor-completed-class-list']" class="list-group-item list-group-item-action active">
                    <div class="d-flex w-100 justify-content-between">
                        <p class="mb-1"><i class="fa-solid fa-file-invoice-dollar"></i> Attended Class List</p>
                    </div>
                </a>
                <a [routerLink]="['/mentor-update-link']" class="list-group-item list-group-item-action">
                    <div class="d-flex w-100 justify-content-between">
                        <p class="mb-1"><i class="fa-solid fa-gear"></i> Update Link</p>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-9">
            <div class="scrollable-content mt-3">
                <div class="alert alert-success" role="alert">
                    <i class="fa-solid fa-calendar-day"></i> My Completed Class List
                </div>
                <div class="row">
                    <div class="col-sm-4 mb-3">
                        <p><i class="fa-solid fa-calendar-day"></i> Start Date</p>
                        <input  type="date" class="form-control" (change)="changeDate()" [(ngModel)]="start_date" />
                    </div>
                    <div class="col-sm-4 mb-3">
                        <p><i class="fa-solid fa-calendar-day"></i> End Date</p>
                        <input  type="date" class="form-control" (change)="changeDate()" [(ngModel)]="end_date" />
                    </div>
                    <div class="col-sm-4 mt-4" *ngIf="classList.length > 0">
                        <div class="notice notice-danger">
                            <strong><i class="fa-solid fa-clock"></i> Total Time: </strong> <span><strong>{{ total_time }}</strong></span>
                        </div>
                    </div>
                </div>
                <table class="table table-bordered table-striped table-sm">
                    <thead>
                        <tr>
                            <th class="bg-success text-white" scope="col">#</th>
                            <th class="bg-success text-white" scope="col">Student & Course</th>
                            <th class="bg-success text-white" scope="col">Date</th>
                            <th class="bg-success text-white" scope="col">Start</th>
                            <th class="bg-success text-white" scope="col">End</th>
                            <th class="bg-success text-white" scope="col">Total (Min)</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr  *ngFor="let item of classList; let i = index;">
                            <th  class="align-middle" scope="row">{{ i + 1 }}</th>
                            <td class="align-middle">
                                <small>{{ item.student_name }} ({{ item.student_contact_no }})</small><br/>
                                <small>{{ item.course_title }}</small>
                            </td>
                            <td class="align-middle">
                                <small>{{ item.schedule_datetime | date :'MMM d, y, h:mm a' }}</small>
                            </td>
                            <td class="align-middle">
                                <small>{{ item.start_time_gmt | date :'MMM d, y, h:mm a' }}</small>
                            </td>
                            <td class="align-middle">
                                <small>{{ item.end_time_gmt | date :'MMM d, y, h:mm a' }}</small>
                            </td>
                            <td class="align-middle">
                                <small><strong>{{ item.total_minutes }}</strong></small>
                            </td>
                        </tr>
                        <tr *ngIf="classList.length <= 0">
                            <td colspan="6">No Data Found!</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
