<div class="bg-dark">
    <div class="back pt-5 pb-2">
        <div class="container content-container">
            <div class="row justify-content-center" *ngIf="is_loaded">
                <div class="content text-center col-md-9">
                    <h1 class="text-white fw-bold">{{ outlineDetails.subject_name }}</h1>
                    <p class="text-white">{{ outlineDetails.content_name }}</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container content-container">
  <div class="row">
    <div class="col-md-8">
      <div class="scrollable-content">
        <div class="">
          <h3 class="mb-3">কোর্স সিলেবাস</h3>
          <div class="container">
            <div class="notice notice-warning" *ngIf="outline.length <= 0">
                <strong>Attention: </strong> <span> <strong> No Data Found! The content is being prepared!</strong></span>
            </div>
          </div>
          <div class="accordion" id="accordionExample">
            <div class="accordion-item" *ngFor="let item of outline; let i = index">
              <h2 class="accordion-header" id="headingOne">
                <button
                  class="accordion-button" type="button" data-bs-toggle="collapse"
                  [attr.data-bs-target]="'#collapseOne_'+i" aria-expanded="true" aria-controls="collapseOne">
                    <strong>{{ item.name }}</strong>
                </button>
              </h2>
              <div id="collapseOne_{{ i }}" class="accordion-collapse collapse show" aria-labelledby="headingOne"  data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  <div class="container">
                      <div class="notice notice-success" *ngFor="let video of item.videos; let v = index">
                          <strong><i class="fa-solid fa-circle-play"></i> {{ video.title }}</strong> <span class="float-end"> <i class="fa-solid fa-clock"></i> {{ video.duration }} minutes </span>
                      </div>
                      <div class="notice notice-info" *ngFor="let script of item.scripts; let s = index">
                          <strong><i class="fa-solid fa-file-lines"></i> {{ script.title }}</strong> <span class="float-end"> <i class="fa-solid fa-book"></i> Read</span>
                      </div>
                      <div class="notice notice-warning" *ngFor="let single_quiz of item.quiz; let s = index">
                          <strong><i class="fa-solid fa-clipboard-check"></i> {{ single_quiz.title }}</strong> <span class="float-end"> <i class="fa-solid fa-clock"></i> {{ single_quiz.duration }} minutes | <i class="fa-solid fa-book"></i> Start</span>
                      </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="mt-5">
          <h3 class="mb-3 mt-2">সচরাচর জিজ্ঞাসা</h3>
          <div class="accordion" id="accordionExample">
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingOne">
                <button
                  class="accordion-button"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#collapseOne"
                  aria-expanded="true"
                  aria-controls="collapseOne"
                >
                  1. কোর্সটি কাদের জন্য?
                </button>
              </h2>
              <div
                id="collapseOne"
                class="accordion-collapse collapse show"
                aria-labelledby="headingOne"
                data-bs-parent="#accordionExample"
              >
                <div class="accordion-body">
                  ঢাকা বিশ্ববিদ্যালয়ের B এবং C ইউনিটের ভর্তি পরিক্ষার্থীদের জন্য এবং যাদের ভর্তি পরীক্ষায় অন্য বিষয়গুলোর সাথে ইংরেজিতেও লিখিত পরীক্ষা দিতে হবে। তবে অন্য সকল পাবলিক বিশ্ববিদ্যালয়ের ভর্তিচ্ছু শিক্ষার্থীদের জন্যও কোর্সটি দারুনভাবে কার্যকরী।
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingTwo">
                <button
                  class="accordion-button collapsed"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#collapseTwo"
                  aria-expanded="false"
                  aria-controls="collapseTwo"
                >
                  2. কোর্সটির এক্সপার্ট হিসেবে কারা থাকছেন?
                </button>
              </h2>
              <div
                id="collapseTwo"
                class="accordion-collapse collapse"
                aria-labelledby="headingTwo"
                data-bs-parent="#accordionExample"
              >
                <div class="accordion-body">
                  ঢাকা বিশ্ববিদ্যালয় এবং IBA এর মেধাবী শিক্ষার্থীরা কোর্সটির এক্সাপার্ট হিসেবে সেবা দিয়ে থাকেন।
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingThree">
                <button
                  class="accordion-button collapsed"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#collapseThree"
                  aria-expanded="false"
                  aria-controls="collapseThree"
                >
                  3. কোর্সটি কিভাবে ভর্তি পরিক্ষার্থীদের উপকার করবে?
                </button>
              </h2>
              <div
                id="collapseThree"
                class="accordion-collapse collapse"
                aria-labelledby="headingThree"
                data-bs-parent="#accordionExample"
              >
                <div class="accordion-body">
                  প্রচলিত ক্লাসে সকল শিক্ষার্থীরা আলাদা ফিডব্যাক না পাওয়াতে নিজের শক্তি ও দুর্বলতা সম্পর্কে সুস্পষ্ট ধারণা পায়না, তাই এই কোর্সটি তাদের শক্তি ও দুর্বলতাগুলো খুঁজে সবচেয়ে ভালো প্রস্তুতি নিতে সহায়তা করবে।
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingFour">
                <button
                  class="accordion-button collapsed"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#collapseFour"
                  aria-expanded="false"
                  aria-controls="collapseThree"
                >
                  4. কোর্সটির মেয়াদ কতদিন?
                </button>
              </h2>
              <div
                id="collapseFour"
                class="accordion-collapse collapse"
                aria-labelledby="headingFour"
                data-bs-parent="#accordionExample"
              >
                <div class="accordion-body">
                  কেনার পর থেকে কোর্সটির মেয়াদ ঢাকা বিশ্ববিদ্যালয় ভর্তি পরীক্ষা হওয়া পর্যন্ত সচল থাকবে।
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--<div class="col-lg-4 col-md-6 p-5">
      <div class="card col-md-12">
        <div class="card-body p-0">
          <img src="assets/images/images.png" alt="" class="w-100 rounded-top"/>
          <h3 class="px-2">৳1500</h3>
          <div class="p-3">
            <button class="btn btn-success p-2 col-md-12">
              বুকিং করো এখনই
            </button>
            <p class="mt-4">ভর্তি হয়েছেন ৫৭ জন</p>
            <p>৫ টি ফাইনাল মডেল টেস্ট</p>
            <p>৯০ টি লেকচার স্লাইড</p>
            <p>৮০ টি লেকচার শিট</p>
            <p>৯০ টি অধ্যায় ভিত্তিক MCQ এক্সাম</p>
          </div>
        </div>
      </div>
    </div>-->
  </div>
</div>

  <!--<div class="notice notice-danger">
      <strong>Notice</strong> notice-danger
  </div>
  <div class="notice notice-info">
      <strong>Notice</strong> notice-info
  </div>
  <div class="notice notice-warning">
      <strong>Notice</strong> notice-warning
  </div>
  <div class="notice notice-lg">
      <strong>Big notice</strong> notice-lg
  </div>
  <div class="notice notice-sm">
      <strong>Small notice</strong> notice-sm
  </div>-->

<block-ui></block-ui>