<div class="container mt-5">
    <main>
      <!-- Privacy Policy content -->
      <section class="container p-4">
        <div class="row">
          <div class="col-md-12 mt-5 ">
            <h1><b>Terms And Conditions</b></h1>
            <hr class="border border-dark">

            <p style="text-align: justify;">
              By downloading or using the app, these terms will automatically apply to you
              you should make sure therefore that you read them carefully before using the app.
              You are not allowed to copy, or modify the app, any part of the app, or our trademarks in any way.
              You are not allowed to attempt to extract the source code of the app, and you also shouldnt try to
              translate
              the
              app into other languages, or make derivative versions. The app itself, and all the trade marks, copyright,
              database rights
              and other intellectual property rights related to it, still belong to BacBon family Lorem ipsum dolor sit
              amet
              consectetur adipisicing elit. Debitis a sunt blanditiis placeat culpa illo rerum, repellat exercitationem
              ex
              quas optio temporibus commodi nam esse in consequatur ipsa et officiis ad sequi modi ipsum. Similique
              incidunt, sit tempore, nesciunt inventore dolorum molestias neque magni repudiandae quaerat possimus nulla
              alias reiciendis! Natus a temporibus minus vero quis facere omnis asperiores doloribus architecto minima
              sed,
              est tenetur earum iste error. Aspernatur temporibus placeat, unde amet ex ratione. Distinctio autem vero
              ipsam, assumenda aperiam rem nihil perferendis magnam officiis, dolorem, eveniet vel corrupti ad maxime
              mollitia deleniti sunt. Quaerat excepturi cupiditate, nobis iste maxime, facilis nulla soluta officiis
              molestiae inventore, deleniti beatae voluptatum corporis voluptates eos! Impedit facere accusamus soluta
              beatae alias quisquam aperiam, odit, itaque maxime ex, quo eos dolorum fuga quasi temporibus
              necessitatibus
              nobis consequatur aliquam suscipit natus maiores possimus. Illum alias obcaecati laborum voluptatum illo!
              Atque eveniet repellendus asperiores est voluptatibus cumque incidunt minus dolores impedit rem, magnam
              eum
              fugiat voluptas nam recusandae nihil quo velit. Non fugiat veritatis a sit iure et recusandae, culpa
              suscipit
              laudantium enim repudiandae modi quos iusto accusamus provident sunt? Esse modi, reiciendis dicta nulla
              illum
              cumque repellendus non assumenda blanditiis dignissimos, explicabo officia. Dicta eligendi ab alias, nisi
              est
              voluptatibus. Consectetur nihil sunt iste blanditiis expedita, excepturi minus ipsum aperiam aspernatur,
              voluptate sequi inventore! Alias aliquid dolores cumque culpa nisi, officia ut accusantium aut, tempore
              rerum,
              placeat adipisci debitis atque voluptate expedita necessitatibus quod pariatur cum ab quis nulla porro
              dolorem
              rem recusandae? Inventore non nesciunt tempora, perferendis ratione repellat
            </p>

            <h3 class="mt-4"><b>Changes to This Terms and Conditions</b></h3>
            <p style="text-align: justify;">We may update our Terms and Conditions from time to time. Thus, you are
              advised
              to review this page periodically for any changes. We will notify you of any changes by posting the new
              Terms
              and Conditions on this page. These changes are effective immediately after they are posted on this page.
            </p>
          </div>
        </div>

        <div class="row mb-5">
          <h3 class="mt-4"><b>Contact Us</b></h3>
          <p>If you have any questions or suggestions about our Privacy Policy, do not hesitate to contact us at</p>
          <p class="ms-5">BacBon Family House # 13 (5th Floor)</p>
          <p class="ms-5">Block-C, Main Road, Banasree, Rampura,</p>
          <p class="ms-5">Dhaka-1219.</p>
          <p class="ms-5">Email: info@bacbonschool.com</p>
          <p class="ms-5">Phone: +8802 8396601, +88 0183 614 9699</p>


        </div>
      </section>
    </main>

  </div>