<div class="back py-5">
    <div class="container  content-container ">
      <div class="row justify-content-center">
        <div class="content text-center mt-2 col-md-6">
          <h1 class="text-white fw-bold">৬ষ্ঠ-১০ম শ্রেনি পর্যন্ত পড়াশোনার সবকিছু নিয়ে স্কুল অনলাইন ব্যাচ!</h1>
          <p class="text-white">২০২৩ সাল জুড়ে অভিজ্ঞ শিক্ষকদের সাথে সম্পূর্ণ সিলেবাসের 💯 তে 💯 প্রস্তুতি!</p>
        </div>
      </div>
    </div>
  </div>

  <div class="container  content-container ">
    <div class="row mt-5">
        <div class="col-12 mt-3 mb-3">
            <h5> <i class="fa-solid fa-users"></i> Expert List</h5>
        </div>
        <div class="col-12 col-md-3" *ngFor="let item of courseList; let i = index;">
          <div class="card m-2 border-0 shadow-lg custom-card">
              <img src="assets/images/3rd.JPG" class="card-img-top" alt="..." />
              <div class="d-grid gap-2">
                  <button class="btn btn-info btn-custom" type="button"><a [routerLink]="['/course-details', item.id]">{{ item.title }}</a></button>
              </div>
              <div class="card-body">
                  <p class="card-text spilit">{{ item.description | truncate:70 }}</p>
              </div>
              <div class="d-grid gap-2">
                  <button class="btn btn-secondary btn-btom btn-custom d-flex justify-content-between" type="button">
                      <div class="l-text-btn-btom">৳{{ item.sale_price }}</div>
                      <div class="r-text-btn-btom"><s>৳{{ item.regular_price }}</s></div>
                  </button>
              </div>
          </div>
        </div>
    </div>
  </div>

  <div class="container  content-container">
    <div class="row justify-content-center">
      <div class="content text-center mt-4 col-md-7">
        <h1 class="text-dark fw-bold">সম্পূর্ণ সিলেবাসের 💯 তে 💯 প্রস্তুতি</h1>
        <p class="text-dark">স্কুলের সিলেবাসের সাথে মিলিয়ে সারা বছরের কমপ্লিট একাডেমিক প্ল্যান</p>
      </div>
    </div>
  </div>

  <div class="container">
    <h2 class="fw-bold text-center mt-5">শিক্ষার্থীরা যা বলছে</h2>
    <div>
      <div id="carouselExample3" class="carousel slide p-5" data-bs-ride="carousel">
        <div class="carousel-inner ">
          <div class="carousel-item active">
            <div class="container">
              <div class="row">
                <div class="col-md-4 ">
                  <div class="card rounded-3">
                    <div class="card-body">
                      <p class="card-text">কোর্সটির প্রতিটি সেকশনে ছিল স্পষ্ট নির্দেশনা । বিশেষ করে, “Reading” এবং
                        “Writing” সেকশন এতটাই informative ছিল যা আমার জন্য Mock Test এবং Real Exam কে সহজ করে তুলেছিল।
                        আমার সবচেয়ে ভালো লেগেছে “Writing Part”।.</p>
                    </div>
                    <div class="card-footer  bg-white border-0">
                      <h5>Ehssan Mahmud</h5>
                    </div>
                  </div>
                </div>
                <div class="col-md-4 ">
                  <div class="card rounded-3">
                    <div class="card-body">
                      <p class="card-text">কোর্সটির প্রতিটি সেকশনে ছিল স্পষ্ট নির্দেশনা । বিশেষ করে, “Reading” এবং
                        “Writing” সেকশন এতটাই informative ছিল যা আমার জন্য Mock Test এবং Real Exam কে সহজ করে তুলেছিল।
                        আমার সবচেয়ে ভালো লেগেছে “Writing Part”।.</p>
                    </div>
                    <div class="card-footer  bg-white border-0">
                      <h5>Ehssan Mahmud</h5>
                    </div>
                  </div>
                </div>

                <div class="col-md-4 ">
                  <div class="card rounded-3">
                    <div class="card-body">
                      <p class="card-text">কোর্সটির প্রতিটি সেকশনে ছিল স্পষ্ট নির্দেশনা । বিশেষ করে, “Reading” এবং
                        “Writing” সেকশন এতটাই informative ছিল যা আমার জন্য Mock Test এবং Real Exam কে সহজ করে তুলেছিল।
                        আমার সবচেয়ে ভালো লেগেছে “Writing Part”।.</p>
                    </div>
                    <div class="card-footer  bg-white border-0">
                      <h5>Ehssan Mahmud</h5>
                    </div>
                  </div>
                </div>

              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="container">
              <div class="row">
                <div class="col-md-4">
                  <div class="card rounded-3">
                    <div class="card-body">
                      <p class="card-text">কোর্সটির প্রতিটি সেকশনে ছিল স্পষ্ট নির্দেশনা । বিশেষ করে, “Reading” এবং
                        “Writing” সেকশন এতটাই informative ছিল যা আমার জন্য Mock Test এবং Real Exam কে সহজ করে তুলেছিল।
                        আমার সবচেয়ে ভালো লেগেছে “Writing Part”।.</p>
                    </div>
                    <div class="card-footer  bg-white border-0">
                      <h5>Ehssan Mahmud</h5>
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="card rounded-3">
                    <div class="card-body">
                      <p class="card-text">কোর্সটির প্রতিটি সেকশনে ছিল স্পষ্ট নির্দেশনা । বিশেষ করে, “Reading” এবং
                        “Writing” সেকশন এতটাই informative ছিল যা আমার জন্য Mock Test এবং Real Exam কে সহজ করে তুলেছিল।
                        আমার সবচেয়ে ভালো লেগেছে “Writing Part”।.</p>
                    </div>
                    <div class="card-footer  bg-white border-0">
                      <h5>Ehssan Mahmud</h5>
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="card rounded-3">
                    <div class="card-body">
                      <p class="card-text">কোর্সটির প্রতিটি সেকশনে ছিল স্পষ্ট নির্দেশনা । বিশেষ করে, “Reading” এবং
                        “Writing” সেকশন এতটাই informative ছিল যা আমার জন্য Mock Test এবং Real Exam কে সহজ করে তুলেছিল।
                        আমার সবচেয়ে ভালো লেগেছে “Writing Part”।.</p>
                    </div>
                    <div class="card-footer  bg-white border-0">
                      <h5>Ehssan Mahmud</h5>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <a class="carousel-control-prev justify-content-start" href="#carouselExample3" role="button"
          data-bs-slide="prev">
          <span class="carousel-control-prev-icon bg-dark fs-6  rounded-circle" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </a>
        <a class="carousel-control-next justify-content-end " href="#carouselExample3" role="button"
          data-bs-slide="next">
          <span class="carousel-control-next-icon bg-dark fs-6 rounded-circle" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </a>
      </div>
    </div>
  </div>

  <block-ui></block-ui>