<div class="row intro">
  <div class="col-lg-12">
    <img src="{{ banner_image }}" class="img-fluid" alt="">
  </div>
</div>
<div class="container content-container">
  <div class="container">
    <div class="row justify-content-center">
      <div class="content text-center mt-4 col-md-5">
        <h5 class="text-info">Admission</h5>
        <h1 class="text-black">স্বপ্নের ভার্সিটির সম্পূর্ণ প্রস্তুতি</h1>
      </div>
    </div>
    <div id="carouselExample" class="carousel slide p-5" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="container">
            <div class="row">
              <div class="col-md-4">
                <div class="card">
                  <img src="assets/images/3rd.JPG" class="card-img-top" alt="..." />
                  <div class="d-grid gap-2">
                    <button class="btn btn-info btn-custom" type="button"><a routerLink="/online">BCS Preli Live
                        Course</a></button>
                  </div>
                  <div class="card-body">
                    <p class="card-text spilit">It is a long established fact that a reader will be distracted by the
                      readable content of a page when looking at its layout.</p>
                  </div>
                  <div class="d-grid gap-2">
                    <button class="btn btn-secondary btn-btom btn-custom d-flex justify-content-between" type="button">
                      <div class="l-text-btn-btom">৳1500</div>
                      <div class="r-text-btn-btom"><s>৳2000</s></div>
                    </button>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="card">
                  <img src="assets/images/3rd.JPG" class="card-img-top" alt="..." />
                  <div class="d-grid gap-2">
                    <button class="btn btn-info btn-custom" type="button"><a routerLink="/online">BCS Preli Live
                        Course</a></button>
                  </div>
                  <div class="card-body">
                    <p class="card-text spilit">It is a long established fact that a reader will be distracted by the
                      readable content of a page when looking at its layout.</p>
                  </div>
                  <div class="d-grid gap-2">
                    <button class="btn btn-secondary btn-btom btn-custom d-flex justify-content-between" type="button">
                      <div class="l-text-btn-btom">৳1500</div>
                      <div class="r-text-btn-btom"><s>৳2000</s></div>
                    </button>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="card">
                  <img src="assets/images/3rd.JPG" class="card-img-top" alt="..." />
                  <div class="d-grid gap-2">
                    <button class="btn btn-info btn-custom" type="button"><a routerLink="/online">BCS Preli Live
                        Course</a></button>
                  </div>
                  <div class="card-body">
                    <p class="card-text spilit">It is a long established fact that a reader will be distracted by the
                      readable content of a page when looking at its layout.</p>
                  </div>
                  <div class="d-grid gap-2">
                    <button class="btn btn-secondary btn-btom btn-custom d-flex justify-content-between" type="button">
                      <div class="l-text-btn-btom">৳1500</div>
                      <div class="r-text-btn-btom"><s>৳2000</s></div>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="container">
            <div class="row">
              <div class="col-md-4">
                <div class="card">
                  <img src="assets/images/3rd.JPG" class="card-img-top" alt="..." />
                  <div class="d-grid gap-2">
                    <button class="btn btn-info btn-custom" type="button"><a routerLink="/online">BCS Preli Live
                        Course</a></button>
                  </div>
                  <div class="card-body">
                    <p class="card-text spilit">It is a long established fact that a reader will be distracted by the
                      readable content of a page when looking at its layout.</p>
                  </div>
                  <div class="d-grid gap-2">
                    <button class="btn btn-secondary btn-btom btn-custom d-flex justify-content-between" type="button">
                      <div class="l-text-btn-btom">৳1500</div>
                      <div class="r-text-btn-btom"><s>৳2000</s></div>
                    </button>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="card">
                  <img src="assets/images/2nd.JPG" class="card-img-top" alt="..." />
                  <div class="d-grid gap-2">
                    <button class="btn btn-info btn-custom" type="button"><a routerLink="/online">BCS Preli Live
                        Course</a></button>
                  </div>
                  <div class="card-body">
                    <p class="card-text spilit">It is a long established fact that a reader will be distracted by the
                      readable content of a page when looking at its layout.</p>
                  </div>
                  <div class="d-grid gap-2">
                    <button class="btn btn-secondary btn-btom btn-custom d-flex justify-content-between" type="button">
                      <div class="l-text-btn-btom">৳1500</div>
                      <div class="r-text-btn-btom"><s>৳2000</s></div>
                    </button>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="card">
                  <img src="assets/images/2nd.JPG" class="card-img-top" alt="..." />
                  <div class="d-grid gap-2">
                    <button class="btn btn-info btn-custom" type="button"><a routerLink="/online">BCS Preli Live
                        Course</a></button>
                  </div>
                  <div class="card-body">
                    <p class="card-text spilit">It is a long established fact that a reader will be distracted by the
                      readable content of a page when looking at its layout.</p>
                  </div>
                  <div class="d-grid gap-2">
                    <button class="btn btn-secondary btn-btom btn-custom d-flex justify-content-between" type="button">
                      <div class="l-text-btn-btom">৳1500</div>
                      <div class="r-text-btn-btom"><s>৳2000</s></div>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <a class="carousel-control-prev justify-content-start" href="#carouselExample" role="button" data-bs-slide="prev">
        <span class="carousel-control-prev-icon bg-dark fs-6 rounded-circle" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </a>
      <a class="carousel-control-next justify-content-end" href="#carouselExample" role="button" data-bs-slide="next">
        <span class="carousel-control-next-icon bg-dark fs-6 rounded-circle" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </a>
    </div>
    <div class="row justify-content-center mt-5">
      <div class="content text-center mt-4 col-md-5">
        <h5 class="text-info"> <i class="fa-solid fa-graduation-cap"></i> Content</h5>
        <h1 class="text-black">Self Study & Grow</h1>
        <p>ইঞ্জিনিয়ারিং-মেডিকেল কিংবা ভার্সিটি-গুচ্ছ - লক্ষ্য যাই হোক, অর্জনের পথ এখানেই।</p>
      </div>
    </div>
    <div id="carouselExample2" class="carousel slide p-5" data-bs-ride="carousel">
      <div class="carousel-inner ">
        <div class="carousel-item active">
          <div class="container">
            <div class="row">
              <div class="col-md-4 ">
                <div class="card">
                  <img src="assets/images/2nd.JPG" class="card-img-top" alt="..." />
                  <div class="d-grid gap-2">
                    <button class="btn btn-info btn-custom" type="button"><a routerLink="/online">BCS Preli Live
                        Course</a></button>
                  </div>
                  <div class="card-body">
                    <p class="card-text spilit">It is a long established fact that a reader will be distracted by the
                      readable content of a page when looking at its layout.</p>
                  </div>
                  <div class="d-grid gap-2">
                    <button class="btn btn-secondary btn-btom btn-custom d-flex justify-content-between" type="button">
                      <div class="l-text-btn-btom">৳1500</div>
                      <div class="r-text-btn-btom"><s>৳2000</s></div>
                    </button>
                  </div>
                </div>
              </div>
              <div class="col-md-4 ">
                <div class="card">
                  <img src="assets/images/2nd.JPG" class="card-img-top" alt="..." />
                  <div class="d-grid gap-2">
                    <button class="btn btn-info btn-custom" type="button"><a routerLink="/online">BCS Preli Live
                        Course</a></button>
                  </div>
                  <div class="card-body">
                    <p class="card-text spilit">It is a long established fact that a reader will be distracted by the
                      readable content of a page when looking at its layout.</p>
                  </div>
                  <div class="d-grid gap-2">
                    <button class="btn btn-secondary btn-btom btn-custom d-flex justify-content-between" type="button">
                      <div class="l-text-btn-btom">৳1500</div>
                      <div class="r-text-btn-btom"><s>৳2000</s></div>
                    </button>
                  </div>
                </div>
              </div>
              <div class="col-md-4 ">
                <div class="card">
                  <img src="assets/images/2nd.JPG" class="card-img-top" alt="..." />
                  <div class="d-grid gap-2">
                    <button class="btn btn-info btn-custom" type="button"><a routerLink="/online">BCS Preli Live
                        Course</a></button>
                  </div>
                  <div class="card-body">
                    <p class="card-text spilit">It is a long established fact that a reader will be distracted by the
                      readable content of a page when looking at its layout.</p>
                  </div>
                  <div class="d-grid gap-2">
                    <button class="btn btn-secondary btn-btom btn-custom d-flex justify-content-between" type="button">
                      <div class="l-text-btn-btom">৳1500</div>
                      <div class="r-text-btn-btom"><s>৳2000</s></div>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="container">
            <div class="row">
              <div class="col-md-4">
                <div class="card">
                  <img src="assets/images/3rd.JPG" class="card-img-top" alt="..." />
                  <div class="d-grid gap-2">
                    <button class="btn btn-info btn-custom" type="button"><a routerLink="/online">BCS Preli Live
                        Course</a></button>
                  </div>
                  <div class="card-body">
                    <p class="card-text spilit">It is a long established fact that a reader will be distracted by the
                      readable content of a page when looking at its layout.</p>
                  </div>
                  <div class="d-grid gap-2">
                    <button class="btn btn-secondary btn-btom btn-custom d-flex justify-content-between" type="button">
                      <div class="l-text-btn-btom">৳1500</div>
                      <div class="r-text-btn-btom"><s>৳2000</s></div>
                    </button>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="card">
                  <img src="assets/images/3rd.JPG" class="card-img-top" alt="..." />
                  <div class="d-grid gap-2">
                    <button class="btn btn-info btn-custom" type="button"><a routerLink="/online">BCS Preli Live
                        Course</a></button>
                  </div>
                  <div class="card-body">
                    <p class="card-text spilit">It is a long established fact that a reader will be distracted by the
                      readable content of a page when looking at its layout.</p>
                  </div>
                  <div class="d-grid gap-2">
                    <button class="btn btn-secondary btn-btom btn-custom d-flex justify-content-between" type="button">
                      <div class="l-text-btn-btom">৳1500</div>
                      <div class="r-text-btn-btom"><s>৳2000</s></div>
                    </button>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="card">
                  <img src="assets/images/3rd.JPG" class="card-img-top" alt="..." />
                  <div class="d-grid gap-2">
                    <button class="btn btn-info btn-custom" type="button"><a routerLink="/online">BCS Preli Live
                        Course</a></button>
                  </div>
                  <div class="card-body">
                    <p class="card-text spilit">It is a long established fact that a reader will be distracted by the
                      readable content of a page when looking at its layout.</p>
                  </div>
                  <div class="d-grid gap-2">
                    <button class="btn btn-secondary btn-btom btn-custom d-flex justify-content-between" type="button">
                      <div class="l-text-btn-btom">৳1500</div>
                      <div class="r-text-btn-btom"><s>৳2000</s></div>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <a class="carousel-control-prev justify-content-start" href="#carouselExample2" role="button"
        data-bs-slide="prev">
        <span class="carousel-control-prev-icon bg-dark fs-6  rounded-circle" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </a>
      <a class="carousel-control-next justify-content-end " href="#carouselExample2" role="button" data-bs-slide="next">
        <span class="carousel-control-next-icon bg-dark fs-6 rounded-circle" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </a>
    </div>

  </div>
  <div class="row justify-content-center mt-5">
    <div class="content text-center mt-4 col-md-5">
      <h1 class="text-black">কেন আমরাই শিক্ষার্থী ও অভিভাবকগণের প্রথম পছন্দ?</h1>
    </div>
  </div>
  <div id="carouselExample3" class="carousel slide p-5" data-bs-ride="carousel">
    <div class="carousel-inner ">
      <div class="carousel-item active">
        <div class="container">
          <div class="row">
            <div class="col-md-4 ">
              <div class="card rounded-3">
                <div class="card-body">
                  <p class="card-text">কোর্সটির প্রতিটি সেকশনে ছিল স্পষ্ট নির্দেশনা । বিশেষ করে, “Reading” এবং
                    “Writing” সেকশন এতটাই informative ছিল যা আমার জন্য Mock Test এবং Real Exam কে সহজ করে তুলেছিল।
                    আমার সবচেয়ে ভালো লেগেছে “Writing Part”।.</p>
                </div>
                <div class="card-footer  bg-white border-0">
                  <h5>Ehssan Mahmud</h5>
                </div>
              </div>
            </div>
            <div class="col-md-4 ">
              <div class="card rounded-3">
                <div class="card-body">
                  <p class="card-text">কোর্সটির প্রতিটি সেকশনে ছিল স্পষ্ট নির্দেশনা । বিশেষ করে, “Reading” এবং
                    “Writing” সেকশন এতটাই informative ছিল যা আমার জন্য Mock Test এবং Real Exam কে সহজ করে তুলেছিল।
                    আমার সবচেয়ে ভালো লেগেছে “Writing Part”।.</p>
                </div>
                <div class="card-footer  bg-white border-0">
                  <h5>Ehssan Mahmud</h5>
                </div>
              </div>
            </div>
            <div class="col-md-4 ">
              <div class="card rounded-3">
                <div class="card-body">
                  <p class="card-text">কোর্সটির প্রতিটি সেকশনে ছিল স্পষ্ট নির্দেশনা । বিশেষ করে, “Reading” এবং
                    “Writing” সেকশন এতটাই informative ছিল যা আমার জন্য Mock Test এবং Real Exam কে সহজ করে তুলেছিল।
                    আমার সবচেয়ে ভালো লেগেছে “Writing Part”।.</p>
                </div>
                <div class="card-footer  bg-white border-0">
                  <h5>Ehssan Mahmud</h5>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="container">
          <div class="row">
            <div class="col-md-4">
              <div class="card rounded-3">
                <div class="card-body">
                  <p class="card-text">কোর্সটির প্রতিটি সেকশনে ছিল স্পষ্ট নির্দেশনা । বিশেষ করে, “Reading” এবং
                    “Writing” সেকশন এতটাই informative ছিল যা আমার জন্য Mock Test এবং Real Exam কে সহজ করে তুলেছিল।
                    আমার সবচেয়ে ভালো লেগেছে “Writing Part”।.</p>
                </div>
                <div class="card-footer  bg-white border-0">
                  <h5>Ehssan Mahmud</h5>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card rounded-3">
                <div class="card-body">
                  <p class="card-text">কোর্সটির প্রতিটি সেকশনে ছিল স্পষ্ট নির্দেশনা । বিশেষ করে, “Reading” এবং
                    “Writing” সেকশন এতটাই informative ছিল যা আমার জন্য Mock Test এবং Real Exam কে সহজ করে তুলেছিল।
                    আমার সবচেয়ে ভালো লেগেছে “Writing Part”।.</p>
                </div>
                <div class="card-footer  bg-white border-0">
                  <h5>Ehssan Mahmud</h5>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card rounded-3">
                <div class="card-body">
                  <p class="card-text">কোর্সটির প্রতিটি সেকশনে ছিল স্পষ্ট নির্দেশনা । বিশেষ করে, “Reading” এবং
                    “Writing” সেকশন এতটাই informative ছিল যা আমার জন্য Mock Test এবং Real Exam কে সহজ করে তুলেছিল।
                    আমার সবচেয়ে ভালো লেগেছে “Writing Part”।.</p>
                </div>
                <div class="card-footer  bg-white border-0">
                  <h5>Ehssan Mahmud</h5>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <a class="carousel-control-prev justify-content-start" href="#carouselExample3" role="button" data-bs-slide="prev">
      <span class="carousel-control-prev-icon bg-dark fs-6  rounded-circle" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </a>
    <a class="carousel-control-next justify-content-end " href="#carouselExample3" role="button" data-bs-slide="next">
      <span class="carousel-control-next-icon bg-dark fs-6 rounded-circle" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </a>
  </div>
  <div class="row p-5 ">
    <div class="card help rounded-4 ">
      <div class="row d-flex">
        <div class="card-body col-md-8 align-content-center ">
          <h1 class="text-white">কোর্স সম্পর্কিত যেকোনো তথ্যের জন্য কল করুন</h1>
          <h5 class="text-white">সকাল ৮টা থেকে রাত ১১টা পর্যন্ত</h5>
        </div>
        <div class="col-md-4 d-flex align-items-center px-5 justify-content-center justify-content-lg-end mb-3 mb-md-0">
          <button class="btn btn-primary fs-4"><i class="fa-solid fa-phone"></i> 1234</button>
        </div>
      </div>
    </div>
  </div>
  <div class="row p-5">
    <div class="card rounded-4 download border-0">
      <div class="row d-flex">
        <div class="card-body col-md-6 text-center">
          <div class="d-flex align-items-center justify-content-center">
            <h1 class="text-white p-0 p-lg-5">ডাউনলোড করুন আমাদের মোবাইল অ্যাপ, শেখা শুরু করুন আজ থেকেই</h1>
          </div>
          <div class="brand">
            <p class="">
              <a href="https://www.apple.com/" target="_blank" rel="noopener noreferrer bg"
                class=" m-2 btn d-inline-flex align-items-center">
                <i class="fab fa-apple fa-2x text-white"></i> <span> App store</span>
              </a>
              <a href="https://play.google.com/store" target="_blank" rel="noopener noreferrer"
                class=" m-2 btn d-inline-flex align-items-center">
                <i class="fab fa-google-play fa-2x text-white"></i> <span> Play Store</span>
              </a>
            </p>
          </div>
        </div>
        <div class=" col-md-6 d-flex justify-content-center">
          <img src="assets/images/mobile.png" alt="" class="w-75">
        </div>
      </div>
    </div>
  </div>
  <hr>
</div>