<div class="container content-container">
    <div class="row">
        <div class="col-lg-3 mt-3 mb-5">
            <div class="list-group">
                <a href="#" class="list-group-item list-group-item-action" aria-current="true">
                    <div class="d-flex w-100 mt-4 justify-content-between">
                        <img src="assets/images/2793695.png" alt="" class="profile-img" />
                    </div>
                    <p class="mb-1 text-center mt-2 text-primary"><strong><i class="fa-solid fa-user"></i> Hosne Mobarak Rubai</strong></p>
                    <p class="mb-51 text-center text-success"><i class="fa-solid fa-phone"></i> 01714536772</p>
                    <p class="mb-51 text-center text-secondary"> <i class="fa-solid fa-user-secret"></i> Expert</p>
                    <br/>
                    <br/>
                </a>
                <a href="#" class="list-group-item list-group-item-action">
                    <div class="d-flex w-100 justify-content-between">
                        <p class="mb-1"><i class="fa-solid fa-receipt"></i> My Course List</p>
                    </div>
                </a>
                <a href="#" class="list-group-item list-group-item-action">
                    <div class="d-flex w-100 justify-content-between">
                        <p class="mb-1"><i class="fa-solid fa-list"></i> Student List</p>
                    </div>
                </a>
                <a href="#" class="list-group-item list-group-item-action">
                    <div class="d-flex w-100 justify-content-between">
                        <p class="mb-1"><i class="fa-solid fa-list"></i> Classes</p>
                    </div>
                </a>
                <a href="#" class="list-group-item list-group-item-action">
                    <div class="d-flex w-100 justify-content-between">
                        <p class="mb-1"><i class="fa-solid fa-file-invoice-dollar"></i> Attended Class List</p>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-9">
            <div class="scrollable-content mt-3">
                <div class="alert alert-success" role="alert">
                    Activity Listß
                </div>
                Activity
            </div>
        </div>
    </div>
</div>
