<div class="container">
    <div class="row vh-100 d-flex align-items-center justify-content-center">
      <div class="col-md-4">
        <form class="p-4">
          <div class="form-floating mb-3">
            <input type="text" class="form-control" id="" placeholder="Enter your name">
            <label for="name">Full Name</label>
          </div>
          <div class="form-floating mb-3">
            <input type="text" class="form-control" id="" placeholder="Enter your name">
            <label for="name">Username</label>
          </div>
          <div class="form-floating mb-3">
            <input type="text" class="form-control" id="" placeholder="Enter your name">
            <label for="name">Email Address</label>
          </div>
          <div class="form-floating mb-3">
            <input type="text" class="form-control" id="" placeholder="Enter your name">
            <label for="name">Phone Number</label>
          </div>
          <div class="form-floating mb-3">
            <input type="text" class="form-control" id="" placeholder="Enter your name">
            <label for="name">Address</label>
          </div>
          <div class="form-floating mb-3">
            <input type="text" class="form-control" id="" placeholder="Enter your name">
            <label for="name">Password</label>
          </div>
          <div class="form-floating mb-3">
            <input type="text" class="form-control" id="" placeholder="Enter your name">
            <label for="name">Confirm Password</label>
          </div>
          <button type="submit" class="btn btn-secondary form-control">Submit</button>
        </form>
      </div>
      <div class="col-md-6 d-none d-md-block">
        <h5 class="fw-bold text-center">দৈনিক লাইভ ক্লাসে অংশ নিয়ে বজায় রাখুন রুটিনমাফিক পড়াশোনা</h5>
        <img src="assets/images/images.jpg" alt="" class="rounded-3 mx-auto d-block">
      </div>
    </div>
  </div>