.navbar-toggler {
    border: none;
    background-color: transparent;
}

.content-container {
    padding-top: 70px;
    /* Adjust the padding value as needed */
}

.navbar-nav .nav-link {
    color: black;
    font-weight: 500;
    font-size: 18px;
}

.navbar {
    background-color: white;
}

.navbar-nav .nav-link {
    color: black;
}

.logo {
    max-width: 165px;
    height: auto;
}

.download {
    background: rgb(4, 45, 76);
    background: linear-gradient(90deg, rgba(4, 45, 76, 1) 11%, rgba(3, 106, 98, 1) 45%, rgba(22, 100, 109, 1) 76%, rgba(11, 71, 87, 1) 99%);
}

.help {
    background: rgb(12, 41, 62);
    background: linear-gradient(90deg, rgba(12, 41, 62, 1) 10%, rgba(4, 52, 77, 1) 23%, rgba(4, 71, 85, 1) 38%, rgba(3, 106, 98, 1) 52%, rgba(22, 100, 109, 1) 67%, rgba(11, 71, 87, 1) 81%);

}

.brand h2 {
    color: #fff;
    font-size: 3rem;
    font-weight: 700;
}

.brand .btn {
    background: #000000;
    color: #fff;
    padding: 15px 30px;
}

.brand .btn i {
    margin-right: 5px;
    font-size: 24px;
    line-height: 40%;
}

.back {
    background: rgb(12, 41, 62);
    background: linear-gradient(90deg, rgba(12, 41, 62, 1) 7%, rgba(6, 70, 103, 1) 24%, rgba(4, 71, 85, 1) 39%, rgba(6, 99, 92, 1) 53%, rgba(22, 100, 109, 1) 69%, rgba(11, 71, 87, 1) 82%, rgba(8, 88, 110, 1) 91%);
}

.custom-dropdown {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.custom-card {
    transition: transform 0.3s;
}

.new {
    background-color: lightcyan;
}

.new:hover {
    border-color: rgb(126, 224, 126);
}

.custom-card:hover {
    transform: scale(1.05);
}

.banner {
    background: rgb(12, 41, 62);
    background: linear-gradient(90deg, rgba(12, 41, 62, 1) 7%, rgba(6, 70, 103, 1) 24%, rgba(4, 71, 85, 1) 39%, rgba(6, 99, 92, 1) 53%, rgba(22, 100, 109, 1) 69%, rgba(11, 71, 87, 1) 82%, rgba(8, 88, 110, 1) 91%);
}

.overflow-hidden {
    overflow-y: scroll;
    scrollbar-width: none;
    /* Firefox */
    -ms-overflow-style: none;
    /* IE and Edge */
}

.overflow-hidden::-webkit-scrollbar {
    display: none;
    /* Chrome, Safari, and Opera */
}

.scrollable-content {
    max-height: 100%;
    overflow-y: auto;
}

.contentt {
    position: relative;
    overflow: hidden;
}

.part {
    width: 50px;
    height: 50px;
}

.banner {
    margin-top: 5px;
    height: 100%;
    width: 100%;
    background: rgb(117, 148, 170);
    background: linear-gradient(90deg, rgba(117, 148, 170, 1) 1%, rgba(105, 196, 119, 1) 23%, rgba(157, 198, 175, 1) 43%, rgba(116, 199, 163, 1) 80%, rgba(190, 216, 228, 1) 94%, rgba(221, 240, 240, 1) 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
    text-align: center;
}

.btn-apply {
    margin-top: 20px;
}

.footer {
    background: rgb(223, 232, 238);
    background: linear-gradient(90deg, rgba(223, 232, 238, 1) 0%, rgba(221, 240, 240, 1) 100%);
}

@media (max-width: 767.98px) {

    .top-0,
    .start-0,
    .translate-middle {
        display: contents;
    }

}


.danger {

    background-color: red;
}

.scrollable-content {
    max-height: 900px;
    /* Set the maximum height of the scrollable content */
    overflow-y: auto;
    /* Enable vertical scrolling */
    scrollbar-width: none;
    /* Show a thin scrollbar (adjust as needed) */
    scrollbar-color: none;
    /* Customize the scrollbar color */
}

.scrollable-content::-webkit-scrollbar {
    width: 8px;
    /* Set the width of the scrollbar (adjust as needed) */
}

.scrollable-content::-webkit-scrollbar-thumb {
    background-color: none;
    /* Set the color of the scrollbar thumb */
    border-radius: 4px;
    /* Set the border radius of the scrollbar thumb */
}

.scrollable-content::-webkit-scrollbar-track {
    background-color: none;
    /* Set the color of the scrollbar track */
    border-radius: 4px;
    /* Set the border radius of the scrollbar track */
}

.btn-custom {
    border-radius: 0px !important;
}

.btn-custom a {
    color: #fff !important;
    text-decoration: none !important;
}

.btn-custom a:hover {
    color: #000000 !important;
    text-decoration: none !important;
}

.btn-btom {
    background: #f7f7f7 !important;
    border-color: #f7f7f7 !important;
}

.l-text-btn-btom {
    color: green !important;
    font-size: 27px;
    font-weight: 600;
    font-style: italic;
}

.r-text-btn-btom {
    color: #5c5c5c !important;
    font-size: 25px;
    font-weight: 300;
    font-style: italic;
}

/*************************** Box Style *******************************/
section {
    padding-top: 4rem;
    padding-bottom: 5rem;
    background-color: #f1f4fa;
}

.wrap {
    background: white;
    padding: 7px 7px 7px 7px;
    border-radius: 0.5rem;
    box-shadow: 7px 7px 30px -5px rgba(0, 0, 0, 0.1);
    margin-bottom: 2rem;
    vertical-align: middle;
}

.wrap:hover {
    background: linear-gradient(135deg, #6394ff 0%, #0a193b 100%);
    color: white;
}

.ico-wrap {
    margin: auto;
    display: inline-block;
}

.ico-wrap > span:hover {
    margin: auto;   
    color: #fff;
    display: inline-block;
}

.text-wrap {
    margin: auto;
    display: inline-block;
}

.mbr-iconfont {
    font-size: 3.5rem !important;
    color: #313131;
    display: inline-block;
}

.display-5 {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1.4rem;
}

.mbr-bold {
    font-weight: 700;
}

p {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    line-height: 25px;
}

.display-6 {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1re
}

/*************************** Box Style *******************************/